Repository alibaba/pipcook, pull requests merged in 2020-07, with the labels that each got.

#292 daemon: introduce output templates for future generator
  packages/core/src/types/other.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/templates/boapkg.js
  packages/daemon/templates/node/predict.js
Labels: pipcook daemon

#291 core: add `downloadAndExtractTo` utility method to simplify data collect plugin
  packages/core/src/constants/other.ts
  packages/core/src/index.ts
  packages/core/src/utils/public.ts
  packages/core/src/utils/public_test.ts
  packages/plugins/data-collect/csv-data-collect/src/index.ts
Labels: core

#295 cli: add new command `daemon debug` for debugging the daemon service
  docs/manual/pipcook-tools.md
  docs/zh-cn/manual/pipcook-tools.md
  packages/cli/src/bin/pipcook-daemon.ts
Labels: cli

#296 boa: add dependence check before install
  packages/boa/package.json
  packages/boa/tools/check-dependence.js
Labels: boa

#297 pipboard: use tfjs to running models for showcase
  package-lock.json
  packages/daemon/package.json
  packages/daemon/src/app/controller/playground.ts
  packages/pipboard/package.json
  packages/pipboard/src/pages/Tutorial/AssetsClassification/index.jsx
  packages/pipboard/src/pages/Tutorial/Mnist/index.jsx
  packages/pipboard/src/pages/Tutorial/Mnist/index.scss
Labels: pipboard

#303 cli: daemon-stop use SIGINT as the default signal.
  packages/cli/src/bin/pipcook-daemon.ts
Labels: cli

#307 daemon: remove unnecessary rxjs dep
  package-lock.json
  packages/boa/requirements.txt
  packages/daemon/package.json
Labels: pipcook daemon

#311 readme: fix some errors
  README.md
Labels: meta

#309 costa: support plugin install from npm package tarball
  packages/costa/src/index.ts
  packages/costa/src/runtime.ts
  packages/costa/src/runtime_test.ts
Labels: costa, semver-minor

#313 core: set timeout for testing
  packages/core/src/utils/public_test.ts
Labels: core

#312 doc: refactor machine-learning-overview.md
  docs/tutorials/machine-learning-overview.md
  docs/zh-cn/tutorials/machine-learning-overview.md
Labels: documentation

#317 plugin: fix the dependencies for fs-extra
  packages/plugins/data-collect/csv-data-collect/package.json
Labels: plugin

#315 sdk: implement sdk
  .github/workflows/sdk.yml
  lerna.json
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/service/pipeline.ts
  packages/sdk/.gitignore
  packages/sdk/.npmignore
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/interface.ts
  packages/sdk/src/job.ts
  packages/sdk/src/pipeline.ts
  packages/sdk/src/request.ts
  packages/sdk/src/utils.ts
  packages/sdk/tsconfig.json
  run_tests.ts
  test/sdk/job.ts
  test/sdk/pipeline.ts
  test/sdk/text-bayes-classification.json
Labels: sdk

#322 boa: fix compile error when path has spaces
  packages/boa/pybind11/Makefile
  packages/boa/pyodide/Makefile
Labels: boa

#323 daemon: dont print the boa not found stacktrace
  packages/daemon/templates/boapkg.js
Labels: pipcook daemon

#321 costa: support in-memory cache for npm registry requests
  packages/costa/src/lrucache.ts
  packages/costa/src/lrucache_test.ts
  packages/costa/src/runtime.ts
Labels: costa

#320 build: enable incremental build
  tsconfig.json
Labels: build

#301 fix: ImageDataLoader OOM
  packages/plugins/model-train/image-classification-tfjs-model-train/src/index.ts
Labels: plugin

#327 costa: fix test timeout
  packages/costa/package.json
  run_tests.ts
Labels: costa

#330 costa: add bootstrap script for bootstrap
  packages/costa/benchmark/bootstrap.js
  packages/costa/benchmark/makefile
Labels: costa

#332 daemon: fix lint
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
Labels: pipcook daemon

#329 pipboard: fix the job which evaluateMap.pass is not accessible
  packages/daemon/src/boot/database.ts
  packages/pipboard/src/utils/config.js
Labels: pipboard

#340 costa: use ~/.pipcook/plugins/.pip as the default cache dir
  packages/costa/src/client.ts
  packages/costa/src/runtime.ts
  packages/costa/src/runtime_test.ts
  packages/plugins/model-train/bayesian-model-train/package.json
Labels: costa

#347 boa: skip the esm tests for node >= 14.5.0
  packages/boa/.eslintrc.js
  packages/boa/tests/es-module-loaders/common.js
Labels: boa, build, tests

#343 daemon: refactor uuid to shortid
  packages/core/package.json
  packages/core/src/utils/public.ts
  packages/core/src/utils/public_test.ts
  packages/costa/package.json
  packages/costa/src/client.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runtime.ts
  packages/daemon/package.json
  packages/daemon/src/runner/helper.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/plugins/data-access/csv-data-access/package.json
  packages/plugins/data-collect/csv-data-collect/src/index.ts
  packages/plugins/data-collect/image-classification-data-collect/package.json
  packages/plugins/data-collect/image-classification-data-collect/src/index.ts
Labels: core, costa, pipcook daemon

#346 build: fix the pipeline action
  .github/workflows/pipeline.yml
Labels: build, ci

#349 add tutorials for classification and detection
  docs/_sidebar.md
  docs/tutorials/component-image-classification.md
  docs/tutorials/component-object-detection.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/tutorials/component-image-classification.md
  docs/zh-cn/tutorials/component-object-detection.md
Labels: documentation

#345 cli: correct the error message when receiving http errors.
  packages/cli/src/request.ts
Labels: cli

#342 daemon/cli: support plugin upload
  packages/cli/package.json
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/request.ts
  packages/cli/src/utils.ts
  packages/costa/src/index.ts
  packages/costa/src/runtime.ts
  packages/costa/src/runtime_test.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/src/interface.ts
  packages/daemon/src/service/log-manager.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  run_pipeline.sh
Labels: cli, pipcook daemon

#354 core: fix sync util function and promisify, and add unit tests
  packages/core/src/utils/public.ts
  packages/core/src/utils/public_test.ts
  packages/plugins/data-collect/image-classification-data-collect/src/index.ts
  packages/plugins/data-collect/mnist-data-collect/src/index.ts
  packages/plugins/data-collect/object-detection-coco-data-collect/src/index.ts
Labels: core

#356 core: increase the timeout for util tests
  packages/core/src/utils/public_test.ts
Labels: core, tests

#357 boa: remove no-process-env disable annotation
  packages/boa/lib/index.js
Labels: boa, lint

#351 check if tty is enabled when spinner log
  packages/cli/src/actions/dev-plugin.ts
  packages/cli/src/actions/init.ts
  packages/cli/src/actions/serve.ts
  packages/cli/src/bin/pipcook-app.ts
  packages/cli/src/bin/pipcook-daemon.ts
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/request.ts
  packages/cli/src/utils.ts
  packages/core/package-lock.json
  packages/costa/package-lock.json
  packages/daemon/package-lock.json
  packages/sdk/package-lock.json
Labels: cli

#363 cli: add modelDefine template
  packages/cli/assets/pluginPackage/src/modelDefine.ts
Labels: cli

#370 sdk: fix sdk dependence
  packages/sdk/package.json
Labels: sdk

#375 pipboard: fix the lint crash by eslint-plugin-react
  packages/pipboard/src/components/Card/index.jsx
  packages/pipboard/src/pages/Home/index.jsx
  packages/pipboard/src/pages/Pipeline/PipelineInfo/components/LogView/index.jsx
  packages/pipboard/src/pages/Tutorial/index.jsx
Labels: build

#373 daemon: throw error if the package is a local path and the pipeline config is from http/https url
  .github/workflows/cli.yml
  packages/daemon/src/runner/helper.ts
Labels: pipcook daemon

#377 Add dataset batch support
  packages/core/src/types/data/common.ts
  packages/core/src/types/model.ts
Labels: core

#383 boa: use the specific version to fix build failure
  packages/boa/tools/install-python.js
Labels: boa

#378 feat: add nightly release
  .github/workflows/beta.yml
  docs/meta/PROJECT_GUIDE.md
  package.json
Labels: build

#385 daemon: reference plugin name from core
  packages/daemon/src/app/controller/pipeline.ts
Labels: pipcook daemon

#391 core: fix test error
  packages/core/src/utils/public_test.ts
Labels: core
