Repository alibaba/pipcook, pull requests merged in 2020-05, with the labels that each got.

#159 refactor(type): use Record instead of custom object
  packages/core/src/runner/helper.ts
  packages/core/src/types/component.ts
  packages/core/src/types/config.ts
  packages/core/src/types/data/common.ts
  packages/core/src/types/data/image.ts
  packages/pipboard-server/app/utils/types.ts
  packages/plugins/data-access/coco-data-access/src/index.ts
  packages/plugins/data-access/csv-data-access/src/index.ts
  packages/plugins/data-access/pascalvoc-data-access/src/index.ts
  packages/plugins/data-collect/image-classification-data-collect/src/index.ts
Labels: core

#164 cli: exit with code when failed.
  .github/workflows/cli.yml
  packages/cli/src/commands/board.ts
  packages/cli/src/commands/dataset.ts
  packages/cli/src/commands/devPlugin.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/start.ts
Labels: cli

#162 cli: fix cli workflow err.
  .github/workflows/cli.yml
  packages/cli/src/commands/devPlugin.ts
Labels: build, cli

#169 doc: fix typos for boa package name
  docs/tutorials/want-to-use-python.md
  docs/zh-cn/tutorials/want-to-use-python.md
Labels: documentation

#175 core: purge deploy stage from plugins
  packages/core/src/constants/other.ts
  packages/core/src/constants/other_test.ts
  packages/core/src/constants/plugins.ts
  packages/core/src/constants/plugins_test.ts
  packages/core/src/runner/helper.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
  packages/core/src/types/other.ts
  packages/core/src/types/plugins.ts
Labels: core

#179 core: remove useless type.
  packages/core/src/types/component.ts
Labels: core

#176 meta: add actions/labeler for auto labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: build, meta

#182 examples: add gradient-boosting-regression
  example/boa/sklearn/gradient-boosting-regression.js
Labels: boa

#183 Revert "meta: add actions/labeler for auto labeling"
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: build

#177 core: add typings for runner
  packages/core/src/components/lifecycle.ts
  packages/core/src/runner/helper.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
  packages/core/src/types/plugins.ts
Labels: core

#185 core: add type definition of the ouput type
  packages/core/src/components/lifecycle.ts
  packages/core/src/constants/other.ts
  packages/core/src/constants/other_test.ts
  packages/core/src/runner/helper.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
Labels: core

#187 doc: fix doc nit.
  README.md
Labels: documentation

#188 core: specify PipcookComponentResultStatus as type.
  packages/core/src/components/lifecycle.ts
  packages/core/src/runner/helper.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
Labels: core

#190 docs: should use absolute uri at sidebar
  docs/_sidebar.md
  docs/zh-cn/_sidebar.md
Labels: documentation

#186 add resnet tensorflow model
  .eslintignore
  packages/cli/package-lock.json
  packages/plugins/model-define/tensorflow-resnet-model-define/.npmignore
  packages/plugins/model-define/tensorflow-resnet-model-define/package-lock.json
  packages/plugins/model-define/tensorflow-resnet-model-define/package.json
  packages/plugins/model-define/tensorflow-resnet-model-define/src/index.ts
  packages/plugins/model-define/tensorflow-resnet-model-define/tsconfig.json
  packages/plugins/model-evaluate/image-classification-tensorflow-model-evaluate/.npmignore
  packages/plugins/model-evaluate/image-classification-tensorflow-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/image-classification-tensorflow-model-evaluate/package.json
  packages/plugins/model-evaluate/image-classification-tensorflow-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/image-classification-tensorflow-model-evaluate/tsconfig.json
  packages/plugins/model-load/tensorflow-model-load/.npmignore
  packages/plugins/model-load/tensorflow-model-load/package-lock.json
  packages/plugins/model-load/tensorflow-model-load/package.json
  packages/plugins/model-load/tensorflow-model-load/src/index.ts
  packages/plugins/model-load/tensorflow-model-load/tsconfig.json
  packages/plugins/model-train/image-classification-tensorflow-model-train/.npmignore
  packages/plugins/model-train/image-classification-tensorflow-model-train/package-lock.json
  packages/plugins/model-train/image-classification-tensorflow-model-train/package.json
  packages/plugins/model-train/image-classification-tensorflow-model-train/src/index.ts
  packages/plugins/model-train/image-classification-tensorflow-model-train/tsconfig.json
  test/pipelines/databinding-image-classification.json
Labels: model, plugin

#192 chore: add .editorconfig configuration to automatically add EOF
  .editorconfig
Labels: meta

#191 boa: support esm
  .github/workflows/build.yml
  .travis.yml
  appveyor.yml
  docs/tutorials/want-to-use-python.md
  docs/zh-cn/tutorials/want-to-use-python.md
  packages/boa/esm/loader.mjs
  packages/boa/package.json
  packages/boa/tests/es-module-loaders/common.js
  packages/boa/tests/es-module-loaders/js/test-esm-loader-custom.mjs
  packages/boa/tests/es-module-loaders/js/test-esm-loader-math.mjs
  packages/boa/tests/es-module-loaders/js/test-esm-loader-thirdparty.mjs
  packages/boa/tests/es-module-loaders/py/test-esm-loader-custom.mjs
  packages/boa/tests/es-module-loaders/py/test-esm-loader-stdlib.mjs
  packages/boa/tests/es-module-loaders/py/test-esm-loader-thirdparty.mjs
Labels: boa

#196 boa: Modify the Python path protocol to py:
  packages/boa/esm/loader.mjs
Labels: boa

#197 Boa: 将模块名称由硬编码修改为 NODE_GYP_MODULE_NAME 宏
  packages/boa/src/binding.cc
Labels: boa

#198 boa: add clean script
  packages/boa/package.json
  packages/boa/tools/clean-python.sh
Labels: boa
