Repository alibaba/pipcook, pull requests merged in 2020-11, with the labels that each got.

#621 daemon: refactor job runner for test
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/runner/helper.ts
  packages/daemon/src/runner/job-runner.ts
  packages/daemon/src/service/app.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/utils.ts
  packages/daemon/test/controller/pipeline.test.ts
  packages/daemon/test/runner/helper.test.ts
  packages/daemon/test/service/pipeline.test.ts
  packages/daemon/test/utils/job-runner.test.ts
Labels: daemon

#623 ci/cd: fix ciecle-ci script
  .circleci/config.yml
Labels: ci/cd

#625 boa: use Cloudflare geo api to select mirror automatically
  packages/boa/pybind11/Makefile
  packages/boa/tools/check-network-env.js
Labels: boa

#626 daemon: add unit test for model
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/src/model/job.ts
  packages/daemon/src/model/pipeline.ts
  packages/daemon/src/model/plugin.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/daemon/test/controller/pipeline.test.ts
  packages/daemon/test/controller/plugin.test.ts
  packages/daemon/test/model/helper.ts
  packages/daemon/test/model/job.test.ts
  packages/daemon/test/model/pipeline.test.ts
  packages/daemon/test/model/plugin.test.ts
  packages/daemon/test/service/pipeline.test.ts
  packages/daemon/test/service/plugin.test.ts
Labels: daemon

#636 dependencies, daemon: Upgrade sequelize
  packages/daemon/package.json
  packages/daemon/src/model/job.ts
  yarn.lock
Labels: daemon, dependencies

#627 Enable coverages statistics for core and costa
  .github/workflows/build.yml
  .gitignore
  package.json
  packages/app/package.json
  packages/boa/package.json
  packages/cli/package.json
  packages/cli/src/actions/dev-plugin.ts
  packages/cli/src/actions/init.ts
  packages/cli/src/actions/serve.ts
  packages/cli/src/bin/pipcook-app.ts
  packages/cli/src/bin/pipcook-daemon.ts
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/service/app.ts
  packages/cli/src/service/plugin.ts
  packages/cli/src/utils/common.ts
  packages/cli/src/utils/request.ts
  packages/core/.nycrc
  packages/core/package.json
  packages/core/src/constants/model.test.ts
  packages/core/src/constants/other.test.ts
  packages/core/src/constants/plugins.test.ts
  packages/core/src/types/data/common.test.ts
  packages/core/src/types/data/common.ts
  packages/core/src/utils/common.test.ts
  packages/core/src/utils/public.test.ts
  packages/core/src/utils/public.ts
  packages/costa/package.json
  packages/costa/src/lrucache.test.ts
  packages/costa/src/plugins/package-lock.json
  packages/costa/src/plugins/package.json
  packages/costa/src/protocol.test.ts
  packages/costa/src/runnable.test.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runnable_test.ts
  packages/costa/src/runtime.test.ts
  packages/costa/src/runtime.ts
  packages/costa/src/tests/plugins/package-lock.json
  packages/costa/src/tests/plugins/package.json
  packages/costa/src/utils.test.ts
  packages/costa/tests/plugins/nodejs-simple/index.js
  packages/costa/tests/plugins/nodejs-simple/package.json
  packages/costa/tests/plugins/package-lock.json
  packages/costa/tests/plugins/package.json
  packages/costa/tests/plugins/python-scope/__init__.py
  packages/costa/tests/plugins/python-scope/package.json
  packages/costa/tests/plugins/python-simple/__init__.py
  packages/costa/tests/plugins/python-simple/package.json
  packages/costa/tsconfig.json
  packages/sdk/src/request.ts
  packages/sdk/tests/job.test.ts
  packages/sdk/tests/pipeline.test.ts
  packages/sdk/tests/plugin.test.ts
  packages/sdk/tsconfig.json
  run_tests.ts
  test/sdk/job.ts
  tsconfig.json
  yarn.lock
Labels: core, costa

#638 workflow: fix cache
  .github/workflows/build.yml
  lerna.json
  packages/app/package-lock.json
  packages/boa/package-lock.json
  packages/cli/package-lock.json
  packages/core/package-lock.json
  packages/costa/.nycrc
  packages/costa/package-lock.json
  packages/costa/src/plugins/package-lock.json
  packages/costa/src/plugins/package.json
  packages/costa/src/tests/plugins/package-lock.json
  packages/costa/src/tests/plugins/package.json
  packages/daemon/package-lock.json
  packages/sdk/package-lock.json
  yarn.lock
Labels: build

#637 fix: merge coverage report
  .github/workflows/build.yml
  .gitignore
  package.json
  packages/app/package.json
  packages/boa/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/costa/.nycrc
  packages/costa/package.json
  packages/costa/src/index.test.ts
  packages/daemon/package.json
  packages/daemon/src/utils.ts
  packages/daemon/test/runner/helper.test.ts
  packages/daemon/test/utils/job-runner.test.ts
  tools/coverage.sh
  yarn.lock
Labels: build

#640 boa: avoid to set @rpath to conda which includes incompatible stdlib
  packages/boa/tools/install-python.js
  packages/boa/tools/utils.js
Labels: boa

#620 daemon, pipeline: configable job parameters
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/migrations/20201021183101-addParams.ts
  packages/daemon/src/model/job.ts
  packages/daemon/src/runner/job-runner.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/test/controller/job.test.ts
  packages/daemon/test/model/helper.ts
  packages/daemon/test/model/job.test.ts
  packages/daemon/test/utils/job-runner.test.ts
Labels: daemon, pipeline

#645 meta: add CODEOWNERS
  CODEOWNERS
Labels: meta

#646 doc: fix the pipboard url
  README.md
Labels: docs

#642 costa: catch the error when subprocess send failed
  packages/costa/src/runnable.ts
Labels: costa

#608 core: add detail spec for evaluate result
  packages/core/src/types/other.ts
Labels: core, plugin
