Repository alibaba/pipcook, pull requests merged in 2020-10, with the labels that each got.

#602 boa: support running Python code in non-blocking way
  docs/manual/intro-to-boa.md
  packages/boa/lib/factory.js
  packages/boa/lib/index.js
  packages/boa/lib/proxy.js
  packages/boa/lib/utils.js
  packages/boa/lib/worker.js
  packages/boa/package-lock.json
  packages/boa/pybind11/Makefile
  packages/boa/pybind11/patches/2.4.3-fix-object-destruct.patch
  packages/boa/src/core/common.h
  packages/boa/src/core/node.cc
  packages/boa/src/core/node.h
  packages/boa/src/core/object.cc
  packages/boa/src/core/object.h
  packages/boa/tests/base/async.js
  packages/boa/tests/base/basic/__init__.py
Labels: boa

#603 boa, build: add ppc64le support for powerci
  packages/boa/tools/install-python.js
Labels: boa, build, build-on-ppc64le

#609 Bug: Fix yarn lock
  yarn.lock
Labels: build

#600 daemon: support to bind host and port
  .github/workflows/build.yml
  packages/cli/src/bin/pipcook-daemon.ts
  packages/daemon/bootstrap.js
Labels: daemon

#611 build: use npm source
  .yarnrc
  yarn.lock
Labels: build

#594 docker: fix cuda environment
  docker/Dockerfile
Labels: build

#617 daemon: fix error info
  packages/daemon/src/app/controller/pipeline.ts
Labels: daemon

#619 ci: fix package manager to yarn from npm
  .github/workflows/build.yml
  .github/workflows/esbuild.yml
Labels: ci/cd

#614 boa: add generator support
  docs/manual/intro-to-boa.md
  packages/boa/lib/delegators/builtins.enumerate.js
  packages/boa/lib/delegators/builtins.generator.js
  packages/boa/lib/delegators/callee.js
  packages/boa/lib/proxy.js
  packages/boa/tests/base/basic/__init__.py
  packages/boa/tests/base/delegator-builtins-generator.js
Labels: boa

#622 boa: support TypeScript imports
  packages/boa/index.d.ts
  packages/boa/package.json
  packages/boa/tests/typescript/base.ts
  packages/boa/tests/typescript/eval.ts
  packages/boa/tests/typescript/kwargs.ts
  packages/boa/tests/typescript/with.ts
  packages/boa/tsconfig.json
Labels: boa
