Repository alibaba/pipcook, pull requests merged in 2020-03, with the labels that each got.

#31 build: add unit test framework(jasmine) for core
  lerna.json
  package.json
  packages/pipcook-app/package.json
  packages/pipcook-board-client/package.json
  packages/pipcook-cli/package.json
  packages/pipcook-core/package.json
  packages/pipcook-core/src/config_test.ts
  packages/pipcook-core/src/constants/model_test.ts
  packages/pipcook-core/src/constants/plugins.ts
  packages/pipcook-core/src/constants/plugins_test.ts
  packages/pipcook-plugins-bayesian-classifier-model-load/package.json
  packages/pipcook-plugins-bayesian-classifier-model-train/package.json
  packages/pipcook-plugins-detection-detectron-data-access/package.json
  packages/pipcook-plugins-detection-detectron-eas-model-deploy/package.json
  packages/pipcook-plugins-detection-detectron-model-deploy/package.json
  packages/pipcook-plugins-detection-detectron-model-evaluate/package.json
  packages/pipcook-plugins-detection-detectron-model-load/package.json
  packages/pipcook-plugins-detection-detectron-model-train/package.json
  packages/pipcook-plugins-image-class-data-access/package.json
  packages/pipcook-plugins-image-class-data-collect/package.json
  packages/pipcook-plugins-image-class-data-process/package.json
  packages/pipcook-plugins-image-class-eas-deploy/package.json
  packages/pipcook-plugins-image-class-local-model-deploy/package.json
  packages/pipcook-plugins-image-coco-data-collect/package.json
  packages/pipcook-plugins-image-detection-data-access/package.json
  packages/pipcook-plugins-image-detection-data-collect/package.json
  packages/pipcook-plugins-image-mnist-data-collect/package.json
  packages/pipcook-plugins-local-mobilenet-model-load/package.json
  packages/pipcook-plugins-model-evaluate/package.json
  packages/pipcook-plugins-model-train/package.json
  packages/pipcook-plugins-simple-cnn-model-load/package.json
  packages/pipcook-plugins-text-class-data-collect/package.json
  packages/pipcook-plugins-text-class-data-process/package.json
  packages/pipcook-plugins-text-class-local-model-deploy/package.json
  packages/pipcook-plugins-text-csv-data-access/package.json
  packages/pipcook-python-node/package.json
  run_tests.ts
Labels: build

#34 readme: add why pipcook and improve the structure
  README.md
Labels: documentation, meta

#35 Enhancement debian package manager tweaks
  Dockerfile
Labels: build

#36 utils: refactor the logger in more strict types, and add tests
  example/pipcook-app-example/pipcook-imageclass-app-test.js
  packages/pipcook-core/src/core/core.ts
  packages/pipcook-core/src/types/component.ts
  packages/pipcook-core/src/utils/assertionCheck.ts
  packages/pipcook-core/src/utils/logger.ts
  packages/pipcook-core/src/utils/logger_test.ts
  packages/pipcook-core/src/utils/serverProcess.ts
Labels: pipcook-core, tests

#37 core: add tests for constants
  packages/pipcook-core/src/constants/other.ts
  packages/pipcook-core/src/constants/other_test.ts
Labels: pipcook-core, tests

#38 core: remove the unused interface and fix type
  packages/pipcook-core/src/types/component.ts
Labels: pipcook-core

#41 meta: remove unneeded trigger for gh-pages
  .github/workflows/gh-pages.yml
Labels: meta

#42 separate lint rules of pipcook-board-client and fix all warnings
  .eslintignore
  .eslintrc.js
  .gitignore
  package.json
  packages/pipcook-app/src/models/imageClassification.ts
  packages/pipcook-app/src/models/objectDetection.ts
  packages/pipcook-app/src/models/textClassification.ts
  packages/pipcook-board-client/.eslintignore
  packages/pipcook-board-client/.eslintrc.js
  packages/pipcook-board-client/.prettierignore
  packages/pipcook-board-client/.prettierrc.js
  packages/pipcook-board-client/.stylelintignore
  packages/pipcook-board-client/.stylelintrc.js
  packages/pipcook-board-client/ice.config.js
  packages/pipcook-board-client/src/assets/document.js
  packages/pipcook-board-client/src/config/routes.js
  packages/pipcook-board-client/src/pages/Dashboard/index.jsx
  packages/pipcook-board-client/src/pages/Dataset/index.jsx
  packages/pipcook-board-client/src/pages/Home/index.jsx
  packages/pipcook-board-client/src/pages/ImageClassification/index.jsx
  packages/pipcook-board-client/src/pages/Log/index.jsx
  packages/pipcook-board-client/src/pages/Model/index.jsx
  packages/pipcook-board-client/src/pages/ObjectDetection/index.jsx
  packages/pipcook-board-client/src/pages/Status/index.jsx
  packages/pipcook-board-client/src/pages/TextClassification/index.jsx
  packages/pipcook-cli/lib/dataset.js
  packages/pipcook-cli/lib/init.js
  packages/pipcook-cli/lib/log.js
  packages/pipcook-core/src/board/board.ts
  packages/pipcook-core/src/components/PipcookLifeCycleComponent.ts
  packages/pipcook-core/src/types/plugins.ts
  packages/pipcook-core/src/utils/publicUtils.ts
  packages/pipcook-plugins-bayesian-classifier-model-eas-deploy/src/index.ts
  packages/pipcook-plugins-bayesian-classifier-model-evaluate/src/index.ts
  packages/pipcook-plugins-bayesian-classifier-model-load/src/index.ts
  packages/pipcook-plugins-detection-detectron-data-access/src/index.ts
  packages/pipcook-plugins-detection-detectron-model-evaluate/src/index.ts
  packages/pipcook-plugins-detection-detectron-model-load/src/index.ts
  packages/pipcook-plugins-detection-detectron-model-train/src/index.ts
  packages/pipcook-plugins-image-class-eas-deploy/src/index.ts
  packages/pipcook-plugins-image-coco-data-collect/src/index.ts
  packages/pipcook-plugins-model-train/src/index.ts
  packages/pipcook-python-node/examples/keras_train.js
  packages/pipcook-python-node/src/communication/communication.ts
  packages/pipcook-python-node/src/communication/connectkernel.ts
Labels: build

#49 meta: add our dingtalk group invitation qrcode
  README.md
  community_qrcode.png
Labels: meta

#51 add download link for dingtalk
  README.md
Labels: documentation, meta

#44 cli: discern unsupported plugin type.
  packages/pipcook-cli/lib/devPlugin.js
Labels: cli

#55 cli: update doc for plugin-dev.
  docs/tutorials/how-to-develop-a-plugin.md
  docs/zh-cn/tutorials/how-to-develop-a-plugin.md
Labels: documentation

#57 docs: fix developer guide doc link error.
  README.md
Labels: documentation

#58 cli: remove all files when init failed.
  packages/pipcook-cli/lib/init.js
Labels: cli
