Repository alibaba/pipcook, pull requests merged in 2020-09, with the labels that each got.

#525 doc: add `pipcook.params` in spec documentation
  docs/spec/plugin.md
  docs/zh-cn/spec/plugin.md
Labels: docs, plugin

#538 cli: add command "plugin info"
  docs/manual/pipcook-tools.md
  docs/zh-cn/manual/pipcook-tools.md
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/service/plugin.ts
Labels: cli

#542 ci: improve speed
  .github/workflows/build.yml
  .github/workflows/gh-pages.yml
  .github/workflows/markdown.yml
Labels: ci/cd

#544 cli: remove pipboard from core and cli
  packages/cli/src/actions/init.ts
  packages/cli/src/config.ts
Labels: cli

#526 daemon: add job status change event
  packages/cli/src/utils/common.ts
  packages/daemon/src/app/controller/base.ts
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/service/log-manager.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/daemon/src/service/trace-manager.ts
  packages/daemon/test/service/trace-manager.test.ts
  packages/sdk/src/base.ts
  packages/sdk/src/interface.ts
  test/sdk/job.ts
Labels: daemon

#545 ci: fix typedoc
  .github/workflows/gh-pages.yml
Labels: ci/cd

#539 daemon: fix log missing
  packages/daemon/src/service/log-manager.ts
  packages/daemon/src/service/trace-manager.ts
  packages/daemon/test/service/logpassthrough.test.ts
  packages/daemon/test/service/trace-manager.test.ts
  packages/daemon/test/service/tracer.test.ts
Labels: daemon

#548 daemon: update pipeline find all
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/service/pipeline.ts
Labels: daemon

#547 daemon, cli: remove jobs when remove pipeline
  .github/workflows/build.yml
  docs/manual/pipcook-tools.md
  docs/zh-cn/manual/pipcook-tools.md
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/service/pipeline.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/service/pipeline.ts
  test/sdk/pipeline.ts
Labels: cli, daemon

#549 cli: fix run from pipeline id
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/service/job.ts
Labels: cli

#550 costa: remove conda directory when uninstall plugin
  packages/costa/src/runtime.ts
  packages/costa/test/runtime_test.ts
  packages/daemon/src/service/plugin.ts
Labels: costa

#553 cli: fix job pending status missing
  packages/sdk/src/utils.ts
Labels: cli

#552 fix: pipeline remove error if no jobs
  packages/cli/src/bin/pipcook-pipeline.ts
Labels: cli

#554 daemon: fix pipeline create
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/test/controller/pipeline.test.ts
Labels: daemon

#556 ci: ignore draft pr
  .github/workflows/build.yml
  .github/workflows/markdown.yml
Labels: ci/cd

#559 daemon: add tests for job download
  packages/daemon/src/app/controller/job.ts
  packages/daemon/test/controller/job.test.ts
Labels: daemon

#575 daemon: improve coverage for controller
  packages/daemon/src/app/controller/job.ts
  packages/daemon/test/controller/index.test.ts
  packages/daemon/test/controller/job.test.ts
  packages/daemon/test/controller/pipeline.test.ts
Labels: tests

#562 Build: update esbuild to support cjs
  .github/workflows/esbuild.yml
  package-lock.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/costa/package.json
  packages/costa/src/runnable.ts
  packages/daemon/package.json
  packages/sdk/package.json
Labels: build

#558 sdk: add filename and file type for download api
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/base.ts
  packages/sdk/src/interface.ts
  packages/sdk/src/job.ts
  packages/sdk/src/request.ts
  packages/sdk/test/job.test.ts
  test/sdk/job.ts
Labels: sdk

#580 boa: add magic methods on Python objects
  packages/boa/lib/index.js
  packages/boa/tests/base/basic.js
Labels: boa

#577 daemon: add test for controllers
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/test/controller/app.test.ts
  packages/daemon/test/controller/base.test.ts
  packages/daemon/test/controller/job.test.ts
  packages/daemon/test/controller/log.test.ts
  packages/daemon/test/controller/playground.test.ts
  packages/daemon/test/controller/plugin.test.ts
Labels: daemon, tests

#584 costa: send signal instead of ipc to destroy client
  packages/costa/src/runnable.ts
  packages/costa/test/plugins/nodejs-simple/index.js
  packages/costa/test/runnable_test.ts
Labels: costa

#596 costa: fix stream block
  packages/costa/src/runtime.ts
  packages/costa/src/utils.ts
  packages/costa/test/utils_test.ts
Labels: costa

#598 cli: plugin install from local tarball
  .github/workflows/build.yml
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/service/plugin.ts
  packages/cli/src/utils/common.ts
Labels: cli

#601 ci: delete daily run of NER pipeline
  .github/workflows/pipeline.yml
Labels: ci/cd
