Repository alibaba/pipcook, pull requests merged in 2020-12, with the labels that each got.

#612 doc: list pipeline in table and add colab links
  README.md
Labels: docs

#651 esbuild: ignore *.md
  .github/workflows/esbuild.yml
Labels: build

#607 pipeline, daemon: split data dir for data-collect and data-access
  packages/costa/src/runnable.ts
  packages/daemon/src/runner/job-runner.ts
  packages/daemon/src/utils.ts
  packages/daemon/test/runner/helper.test.ts
  packages/daemon/test/utils/job-runner.test.ts
  yarn.lock
Labels: daemon, pipeline

#647 costa: add the plugin not responding detection
  packages/costa/package.json
  packages/costa/src/client/entry.test.ts
  packages/costa/src/client/entry.ts
  packages/costa/src/runnable.test.ts
  packages/costa/src/runnable.ts
  packages/costa/tests/plugins/nodejs-not-responding/index.js
  packages/costa/tests/plugins/nodejs-not-responding/package.json
  run_tests.ts
Labels: costa

#653 rfc: add rfc for framework migration
  docs/rfc/0001-framework-migration.md
Labels: rfc

#659 readme: use the absolute url for pipeline command
  README.md
Labels: docs

#663 build: use new syntax to update env in workflow
  .github/workflows/beta.yml
Labels: build

#656 boa: enable python version switch in manual way
  packages/boa/binding.gyp
  packages/boa/src/binding.cc
  packages/boa/tools/install-python.js
  packages/boa/tools/utils.js
Labels: boa

#660 cli: check if BOOTSTRAP_HOME exists before starts
  .gitignore
  packages/cli/src/bin/pipcook-daemon.ts
Labels: cli

#657 cli: add new command to use create-pipcook-plugin
  .github/workflows/build.yml
  docs/contributing/contribute-a-plugin.md
  docs/zh-cn/contributing/contribute-a-plugin.md
  packages/cli/src/actions/dev-plugin.ts
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/service/plugin.ts
Labels: cli, plugin

#661 cli: check node version before init command
  README.md
  docs/INSTALL.md
  docs/contributing/guide-to-contributor.md
  docs/zh-cn/INSTALL.md
  packages/cli/package.json
  packages/cli/src/actions/init.ts
Labels: cli

#643 rfc: add new pipeline
  docs/rfcs/0000-new-pipeline.md
Labels: pipeline, rfc

#664 build: fix the beta release
  lerna.json
Labels: build

#668 meta: update the master branch to main in workflows
  .github/workflows/build.yml
  .github/workflows/esbuild.yml
  .github/workflows/gh-pages.yml
  .github/workflows/markdown.yml
Labels: build, meta

#667 boa: use $ORIGIN/@loader_path to set RPATH
  packages/boa/binding.gyp
  packages/boa/package.json
  packages/boa/requirements.txt
  packages/boa/tools/check-dependence.js
  packages/boa/tools/check-network-env.js
  packages/boa/tools/clean-python.sh
  packages/boa/tools/debuginfo.js
  packages/boa/tools/install-macos-tools.js
  packages/boa/tools/install-python.js
  packages/boa/tools/install-requirements.js
  packages/boa/tools/memory-leak-debugger.js
  packages/boa/tools/utils.js
Labels: boa

#672 actions: fix typo in actions
  .github/workflows/release.yml
Labels: build, ci/cd

#675 notebook: upgrade the nodejs version to 12.19
  notebooks/pipcook_image_classification.ipynb
  notebooks/pipcook_object_detection.ipynb
Labels: docs
