Repository alibaba/pipcook, pull requests merged in 2020-04, with the labels that each got.

#62 fix out-dated doc
  docs/README.md
  docs/tutorials/load-a-pre-trained-model-in-pipcook.md
  docs/zh-cn/README.md
  docs/zh-cn/tutorials/load-a-pre-trained-model-in-pipcook.md
Labels: bug, documentation

#63 doc: remove the links that not exists at siderbar
  docs/_sidebar.md
  docs/zh-cn/_sidebar.md
Labels: documentation

#69 build: fix the gh-pages to use macOS
  .github/workflows/gh-pages.yml
Labels: build

#70 build, doc: fix the typedoc mode to file
  docs/_navbar.md
  docs/zh-cn/_navbar.md
  typedoc.json
Labels: build, documentation

#71 doc: fix the missing slash
  docs/index.html
Labels: build, documentation

#80 cli: select the first client when there is 1 choice only
  packages/cli/lib/init.js
Labels: cli, enhancement

#81 core: refine the filenames by following a consistent naming rule
  packages/core/src/components/lifecycle.ts
  packages/core/src/constants/plugins.ts
  packages/core/src/index.ts
  packages/core/src/runner/helper.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
  packages/core/src/types/data/common.ts
  packages/core/src/types/data/csv.ts
  packages/core/src/types/data/image.ts
  packages/core/src/types/plugins.ts
  packages/core/src/utils/logger.ts
  packages/core/src/utils/logger_test.ts
  packages/core/src/utils/public.ts
Labels: core

#74 boa: add support for linux
  .github/workflows/build.yml
  docs/tutorials/want-to-use-python.md
  docs/zh-cn/tutorials/want-to-use-python.md
  package.json
  packages/boa/.eslintignore
  packages/boa/.eslintrc.js
  packages/boa/.gitignore
  packages/boa/.npmignore
  packages/boa/binding.gyp
  packages/boa/clang-format.py
  packages/boa/install-requirements.sh
  packages/boa/lib/index.js
  packages/boa/package-lock.json
  packages/boa/package.json
  packages/boa/src/binding.cc
  packages/boa/tests/stdlib/os.js
  packages/boa/tests/stdlib/sys.js
  packages/boa/tools/debuginfo.js
  packages/boa/tools/install-macos-tools.js
  packages/boa/tools/install-python.js
  packages/boa/tools/install-requirements.js
  packages/boa/tools/utils.js
Labels: boa, build

#88 core: use es6 modules instead of calls to require
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/config.ts
  packages/core/src/config_test.ts
  packages/core/src/runner/index.ts
Labels: core

#87 core: simplify the RunConfigI definitions
  packages/core/src/constants/plugins.ts
  packages/core/src/types/config.ts
  packages/core/src/types/plugins.ts
Labels: core

#86 build: enabling the hoist mode for addressing the tfjs register issue
  lerna.json
  package.json
  packages/boa/package.json
Labels: boa, build

#93 cli: optimize npm client config.
  packages/cli/lib/config.js
  packages/cli/lib/init.js
Labels: cli

#91 build: run/test pipelines at github actions
  .github/workflows/pipeline.yml
  .gitignore
  package-lock.json
  package.json
  packages/boa/package-lock.json
  packages/cli/lib/runConfig.js
  packages/cli/lib/start.js
  packages/core/src/runner/index.ts
  packages/plugins/model-define/tfjs-mobilenet-model-define/src/index.ts
  run_pipeline.sh
  test/pipelines/databinding-image-classification.json
  test/pipelines/mnist-image-classification.json
Labels: build, core

#95 build: add more pipelines
  .github/workflows/pipeline.yml
  run_pipeline.sh
Labels: build

#102 doc, build: fix dead links and add a bot to check them
  .github/workflows/markdown.yml
  .markdown.config.json
  docs/README.md
  docs/_sidebar.md
  docs/devel/developer-guide.md
  docs/spec/plugin.md
  docs/spec/plugin/3-model-define.md
  docs/tutorials/how-to-develop-a-plugin.md
  docs/tutorials/want-to-use-python.md
  docs/zh-cn/_navbar.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/devel/developer-guide.md
  docs/zh-cn/tutorials/get-started-with-cli.md
  docs/zh-cn/tutorials/how-to-develop-a-plugin.md
  docs/zh-cn/tutorials/want-to-use-python.md
Labels: build, documentation

#103 build: specify NAPI_VERSION to fix the node-addon-api issue
  packages/boa/binding.gyp
Labels: boa, build

#104 boa: add more boa examples
  .eslintignore
  example/boa/argparse/test
  example/boa/sklearn/dbscan-clustering.js
  example/boa/tf2/mode-subclassing.js
  example/boa/tf2/word-embedding.js
Labels: boa

#106 boa: first tf demo for boa.
  example/boa/tf2/hello.js
Labels: boa

#100 do not install conda again when it's existed
  .gitignore
  README.md
  example/boa/tf2/hello.js
  package-lock.json
  packages/boa/package-lock.json
  packages/boa/package.json
  packages/boa/requirements.txt
  packages/boa/tools/bip.js
  packages/boa/tools/install-python.js
  packages/cli/bin/index.js
  packages/cli/package-lock.json
  packages/core/package-lock.json
  packages/plugins/data-access/coco-data-access/package-lock.json
  packages/plugins/data-access/csv-data-access/package-lock.json
  packages/plugins/data-access/pascalvoc-data-access/package-lock.json
  packages/plugins/data-collect/csv-data-collect/package-lock.json
  packages/plugins/data-collect/image-classification-data-collect/package-lock.json
  packages/plugins/data-collect/mnist-data-collect/package-lock.json
  packages/plugins/data-collect/object-detection-coco-data-collect/package-lock.json
  packages/plugins/data-collect/object-detection-pascolvoc-data-collect/package-lock.json
  packages/plugins/data-process/image-data-process/package-lock.json
  packages/plugins/model-define/bayesian-model-define/package-lock.json
  packages/plugins/model-define/detectron-fasterrcnn-model-define/package-lock.json
  packages/plugins/model-define/tfjs-mobilenet-model-define/package-lock.json
  packages/plugins/model-define/tfjs-simplecnn-model-define/package-lock.json
  packages/plugins/model-deploy/local-model-deploy/package-lock.json
  packages/plugins/model-evaluate/bayesian-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/image-classification-tfjs-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/object-detection-detectron-model-evaluate/package-lock.json
  packages/plugins/model-train/bayesian-model-train/package-lock.json
  packages/plugins/model-train/image-classification-tfjs-model-train/package-lock.json
  packages/plugins/model-train/object-detection-detectron-model-train/package-lock.json
Labels: boa

#107 boa: try rewrite python based file.
  .github/workflows/pipeline.yml
  packages/boa/requirements.txt
  packages/plugins/model-define/bayesian-model-define/src/assets/script.py
  packages/plugins/model-define/bayesian-model-define/src/index.ts
  packages/plugins/model-define/bayesian-model-define/src/script.ts
  test/pipelines/text-bayes-classification.json
Labels: boa

#116 docs: fix typos.
  docs/README.md
Labels: documentation

#114 doc: siderbar should be in absolute
  .markdown.config.json
  docs/_sidebar.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/spec/plugin/3-model-define.md
Labels: documentation

#113 boa: rewrite model evaluate py file.
  packages/plugins/model-evaluate/bayesian-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/bayesian-model-evaluate/package.json
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/assets/script.py
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/script.ts
Labels: plugin

#117 move deploy/predict feature into pipcook-core
  docs/_sidebar.md
  docs/devel/developer-guide.md
  docs/spec/plugin.md
  docs/spec/plugin/6-model-deploy.md
  docs/tutorials/how-to-develop-a-plugin.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/devel/developer-guide.md
  docs/zh-cn/spec/plugin.md
  docs/zh-cn/spec/plugin/6-model-deploy.md
  docs/zh-cn/tutorials/how-to-develop-a-plugin.md
  packages/cli/bin/index.js
  packages/cli/lib/config.js
  packages/cli/lib/serve.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/assets/predict.js
  packages/core/src/assets/template-package.json
  packages/core/src/components/lifecycle.ts
  packages/core/src/index.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
  packages/core/src/types/plugins.ts
  packages/core/src/utils/public.ts
  packages/plugins/data-process/image-data-process/src/index.ts
  packages/plugins/model-define/bayesian-model-define/src/index.ts
  packages/plugins/model-define/bayesian-model-define/src/script.ts
  packages/plugins/model-define/detectron-fasterrcnn-model-define/src/index.ts
  packages/plugins/model-define/tfjs-mobilenet-model-define/src/index.ts
  packages/plugins/model-define/tfjs-simplecnn-model-define/src/index.ts
  packages/plugins/model-deploy/local-model-deploy/.npmignore
  packages/plugins/model-deploy/local-model-deploy/package-lock.json
  packages/plugins/model-deploy/local-model-deploy/package.json
  packages/plugins/model-deploy/local-model-deploy/src/index.ts
  packages/plugins/model-deploy/local-model-deploy/tsconfig.json
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/script.ts
Labels: core, plugin

#121 add clear button to mnist canvas
  packages/cli/assets/server/app/controller/showcase.ts
  packages/cli/assets/server/app/public/css/index.css
  packages/cli/assets/server/app/public/js/index.js
  packages/cli/assets/server/app/utils/constants.ts
  packages/cli/assets/server/package.json
  packages/pipboard-client/src/pages/Showcase/Mnist/index.jsx
  packages/pipboard-client/src/pages/Showcase/Mnist/index.scss
  packages/pipboard-server/mnist.jpg
Labels: pipboard

#125 build: add pipeline workflow on PR events
  .github/workflows/build.yml
  packages/boa/tools/install-requirements.js
  packages/boa/tools/utils.js
  packages/plugins/model-evaluate/bayesian-model-evaluate/package-lock.json
  run_pipeline.sh
Labels: build

#130 plugin: remove unnecessary file and dir.
  packages/plugins/model-define/bayesian-model-define/package.json
  packages/plugins/model-define/bayesian-model-define/src/assets/__init__.py
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/assets/__init__.py
  packages/plugins/model-train/bayesian-model-train/src/assets/__init__.py
Labels: plugin

#136 core: optimize lifecycle for plugin type.
  packages/core/src/components/lifecycle.ts
  packages/core/src/constants/plugins.ts
  packages/core/src/runner/index.ts
  packages/core/src/types/component.ts
Labels: core

#134 cli: checking config file exist or not.
  packages/cli/lib/start.js
Labels: cli

#132 cli: correct the commander usage for options
  packages/cli/bin/index.js
  packages/cli/lib/dataset.js
  packages/cli/lib/devPlugin.js
  packages/cli/lib/serve.js
Labels: cli

#131 cli: use tuna for less init cost
  README.md
  docs/tutorials/get-started-with-cli.md
  docs/zh-cn/tutorials/get-started-with-cli.md
  package-lock.json
  packages/boa/tools/install-python.js
  packages/cli/bin/index.js
  packages/cli/lib/init.js
Labels: cli

#133 plugin, core: fail the pipeline when evaluation is not pass
  packages/core/src/runner/helper.ts
  packages/core/src/types/other.ts
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/image-classification-tfjs-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/object-detection-detectron-model-evaluate/src/index.ts
  test/pipelines/text-bayes-classification.json
Labels: core, plugin

#140 core: remove `any` types for `lifecycle.ts`
  packages/core/src/components/lifecycle.ts
  packages/core/src/types/other.ts
  packages/core/src/types/plugins.ts
Labels: core

#141 readme: add the gitter badge and refine our badges
  README.md
Labels: meta

#139 core: correct the coco's id in public utils
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/utils/public.ts
  packages/core/src/utils/public_test.ts
Labels: bug, core

#147 docs: add contribution documentation
  docs/devel/developer-guide.md
  docs/zh-cn/devel/developer-guide.md
Labels: documentation

#148 boa: support toJSON on proxy object
  packages/boa/lib/index.js
  packages/boa/tests/base/basic.js
  packages/boa/tests/numpy/ndarray.js
  packages/boa/tests/numpy/routines.matrix.js
Labels: boa

#149 cli: fix the miniconda path
  packages/cli/lib/init.js
Labels: cli

#151 fix evaluate pass check and a bug in plugin
  packages/core/src/runner/helper.ts
  packages/plugins/model-evaluate/object-detection-detectron-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/object-detection-detectron-model-evaluate/package.json
  packages/plugins/model-evaluate/object-detection-detectron-model-evaluate/src/index.ts
Labels: core

#153 docs: add tuna guide for contributor
  docs/devel/developer-guide.md
  docs/zh-cn/devel/developer-guide.md
Labels: documentation

#155 core: remove `any` of plugin's lifecycle
  packages/core/src/components/lifecycle.ts
  packages/core/src/runner/helper.ts
  packages/core/src/types/component.ts
  packages/core/src/types/other.ts
  packages/core/src/types/plugins.ts
Labels: core
