Repository alibaba/pipcook, pull requests merged in 2020-06, with the labels that each got.

#201 cli: add beta options
  .github/workflows/release.yml
  packages/cli/src/actions/init.ts
  packages/cli/src/bin/pipcook.ts
Labels: cli

#202 costa: support beta version for installing plugin
  package.json
  packages/costa/package.json
  packages/costa/src/index.ts
  packages/costa/src/runnable_test.ts
  packages/costa/src/runtime.ts
  packages/costa/src/runtime_test.ts
  run_tests.ts
Labels: costa

#205 plugin: math.floor instead of Number constructor
  packages/plugins/model-train/image-classification-tfjs-model-train/src/index.ts
Labels: plugin

#206 costa, test: set timeout(30s) to fix flaky build
  packages/costa/src/runtime_test.ts
Labels: costa, tests

#203 daemon: support config url
  .github/workflows/cli.yml
  packages/cli/src/actions/start.ts
  packages/daemon/package.json
  packages/daemon/src/runner/helper.ts
  run_pipeline.sh
Labels: pipcook daemon

#211 daemon: cleanup if installing a package is failed
  packages/daemon/src/service/plugin.ts
Labels: pipcook daemon

#212 boa: share the cpython instance globally
  packages/boa/lib/index.js
  packages/boa/package.json
Labels: boa

#199 docs: refine the doc structure and add docs for v0.8
  .markdown.config.json
  docs/GLOSSORY.md
  docs/INSTALL.md
  docs/README.md
  docs/_navbar.md
  docs/_sidebar.md
  docs/contributing/contribute-a-plugin.md
  docs/contributing/guide-to-collaborator.md
  docs/contributing/guide-to-contributor.md
  docs/devel/developer-guide.md
  docs/index.html
  docs/manual/README.md
  docs/manual/intro-to-boa.md
  docs/manual/intro-to-pipeline.md
  docs/manual/intro-to-plugin.md
  docs/manual/pipcook-tools.md
  docs/spec/dataset.md
  docs/spec/plugin.md
  docs/spec/plugin/0-data-collect.md
  docs/spec/plugin/1-data-access.md
  docs/spec/plugin/2-data-process.md
  docs/spec/plugin/3-model-define.md
  docs/spec/plugin/4-model-train.md
  docs/spec/plugin/5-model-evaluate.md
  docs/tutorials/get-started-with-cli.md
  docs/tutorials/get-started.md
  docs/tutorials/how-to-develop-a-plugin.md
  docs/tutorials/machine-learning-overview.md
  docs/tutorials/using-python-functions-in-nodejs.md
  docs/zh-cn/GLOSSORY.md
  docs/zh-cn/INSTALL.md
  docs/zh-cn/README.md
  docs/zh-cn/_navbar.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/contributing/contribute-a-plugin.md
  docs/zh-cn/contributing/guide-to-collaborator.md
  docs/zh-cn/contributing/guide-to-contributor.md
  docs/zh-cn/devel/developer-guide.md
  docs/zh-cn/manual/intro-to-boa.md
  docs/zh-cn/manual/intro-to-pipeline.md
  docs/zh-cn/manual/intro-to-plugin.md
  docs/zh-cn/manual/pipcook-tools.md
  docs/zh-cn/spec/dataset.md
  docs/zh-cn/spec/plugin.md
  docs/zh-cn/spec/plugin/0-data-collect.md
  docs/zh-cn/spec/plugin/1-data-access.md
  docs/zh-cn/spec/plugin/2-data-process.md
  docs/zh-cn/spec/plugin/3-model-define.md
  docs/zh-cn/spec/plugin/4-model-train.md
  docs/zh-cn/spec/plugin/5-model-evaluate.md
  docs/zh-cn/tutorials/get-started-with-cli.md
  docs/zh-cn/tutorials/get-started.md
  docs/zh-cn/tutorials/how-to-develop-a-plugin.md
  docs/zh-cn/tutorials/machine-learning-overview.md
  docs/zh-cn/tutorials/using-python-functions-in-nodejs.md
  package-lock.json
  package.json
  packages/core/src/index.ts
  packages/core/src/types/plugins.ts
  typedoc.json
Labels: documentation

#214 costa: fix the search paths for @pipcook/boa
  packages/costa/src/runtime.ts
Labels: costa

#215 daemon: handle framework(midway) search for npm install
  packages/daemon/bootstrap.js
Labels: pipcook daemon

#218 Do not specify registry
  packages/cli/src/actions/init.ts
Labels: cli

#220 cli: fix pipcook init error
  packages/cli/src/actions/init.ts
Labels: cli

#213 daemon, cli: add pipeline command 'install'
  .github/workflows/cli.yml
  packages/cli/src/actions/start.ts
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/utils.ts
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/model/job.ts
  packages/daemon/src/service/pipeline.ts
Labels: cli, pipcook daemon

#216 model: add new fasttext plugins and pipeline
  .github/workflows/pipeline.yml
  package-lock.json
  packages/costa/src/client.ts
  packages/plugins/data-access/csv-data-access/src/index.ts
  packages/plugins/data-collect/fasttext-data-collect/.npmignore
  packages/plugins/data-collect/fasttext-data-collect/package-lock.json
  packages/plugins/data-collect/fasttext-data-collect/package.json
  packages/plugins/data-collect/fasttext-data-collect/src/index.ts
  packages/plugins/data-collect/fasttext-data-collect/tsconfig.json
  packages/plugins/model-define/fasttext-model-define/.npmignore
  packages/plugins/model-define/fasttext-model-define/package-lock.json
  packages/plugins/model-define/fasttext-model-define/package.json
  packages/plugins/model-define/fasttext-model-define/src/index.ts
  packages/plugins/model-define/fasttext-model-define/tsconfig.json
  packages/plugins/model-evaluate/fasttext-model-evaluate/.npmignore
  packages/plugins/model-evaluate/fasttext-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/fasttext-model-evaluate/package.json
  packages/plugins/model-evaluate/fasttext-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/fasttext-model-evaluate/tsconfig.json
  packages/plugins/model-train/fasttext-model-train/.npmignore
  packages/plugins/model-train/fasttext-model-train/package-lock.json
  packages/plugins/model-train/fasttext-model-train/package.json
  packages/plugins/model-train/fasttext-model-train/src/index.ts
  packages/plugins/model-train/fasttext-model-train/tsconfig.json
  test/pipelines/fasttext.json
Labels: model

#229 eslint: add rule no-trailing-spaces
  .eslintrc.js
  packages/cli/src/actions/dev-plugin.ts
  packages/core/src/index.ts
  packages/core/src/types/component.ts
  packages/core/src/types/data/image.ts
  packages/core/src/types/plugins.ts
  packages/core/src/utils/public.ts
  packages/costa/src/client.ts
  packages/costa/src/index.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runtime.ts
  packages/plugins/data-access/coco-data-access/src/index.ts
  packages/plugins/data-access/csv-data-access/src/index.ts
  packages/plugins/data-access/pascalvoc-data-access/src/index.ts
  packages/plugins/model-define/bayesian-model-define/src/index.ts
  packages/plugins/model-define/detectron-fasterrcnn-model-define/src/index.ts
  packages/plugins/model-define/detectron-maskrcnn-model-define/src/index.ts
  packages/plugins/model-define/fasttext-model-define/src/index.ts
  packages/plugins/model-define/tensorflow-resnet-model-define/src/index.ts
  packages/plugins/model-define/tfjs-mobilenet-model-define/src/index.ts
  packages/plugins/model-define/tfjs-simplecnn-model-define/src/index.ts
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/bayesian-model-evaluate/src/script.ts
  packages/plugins/model-evaluate/image-classification-tfjs-model-evaluate/src/index.ts
  packages/plugins/model-train/bayesian-model-train/src/index.ts
  packages/plugins/model-train/bayesian-model-train/src/script.ts
Labels: build

#233 costa: support install plugin from git(ssh)
  docs/manual/pipcook-tools.md
  docs/zh-cn/manual/pipcook-tools.md
  packages/costa/package.json
  packages/costa/src/index.ts
  packages/costa/src/runtime.ts
Labels: costa

#231 cli: add missing command for "pipcook board"
  packages/cli/src/actions/board.ts
  packages/cli/src/bin/pipcook.ts
Labels: cli

#219 doc: update the readme
  README.md
  packages/cli/src/actions/serve.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/types/handler.ts
Labels: meta

#232 daemon: generate output to job dir
  packages/cli/package.json
  packages/cli/src/actions/start.ts
  packages/cli/src/request.ts
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/service/pipeline.ts
Labels: pipcook daemon

#236 build: move @types to devDependencies
  packages/cli/package.json
  packages/core/package.json
  packages/costa/package.json
  packages/daemon/package.json
Labels: build

#238 costa: fix git-install protocol missing
  packages/costa/src/runtime.ts
Labels: costa

#230 boa: Compiling-CPython-to-WebAssembly
  packages/boa/.eslintignore
  packages/boa/pyodide/Makefile
  packages/boa/pyodide/checksums
Labels: boa

#242 boa: Ignore downloads folder
  packages/boa/.gitignore
  packages/boa/.npmignore
Labels: boa

#243 fix: daemon-predict need return a promise
  packages/daemon/assets/predict.js
Labels: pipcook daemon

#245 record metadata of dataset
  packages/daemon/src/model/job.ts
  packages/daemon/src/service/pipeline.ts
Labels: pipcook daemon

#250 boa: fix the install script python
  packages/boa/lib/index.js
  packages/boa/tools/install-python.js
  packages/boa/tools/utils.js
Labels: boa

#241 add PipApp implementation
  .eslintignore
  .github/workflows/cli.yml
  .gitignore
  docs/_sidebar.md
  docs/manual/intro-to-pipapp.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/manual/intro-to-pipapp.md
  example/app/text-classify/.gitignore
  example/app/text-classify/index.ts
  example/app/text-classify/package-lock.json
  example/app/text-classify/package.json
  lerna.json
  packages/app/package-lock.json
  packages/app/package.json
  packages/app/setup.sh
  packages/app/src/apis/executable.ts
  packages/app/src/apis/index.ts
  packages/app/src/apis/nlp.ts
  packages/app/src/apis/types.ts
  packages/app/src/apis/vision.ts
  packages/app/src/compiler/index.ts
  packages/app/src/compiler/pipelinegen.ts
  packages/app/src/compiler/pipelines/nlp-classify.base.json
  packages/app/src/compiler/pipelines/vision-classify.base.json
  packages/app/src/index.ts
  packages/app/tsconfig.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/setup.sh
  packages/cli/src/actions/init.ts
  packages/cli/src/app.ts
  packages/cli/src/bin/pipcook-app.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/router.ts
  packages/cli/src/utils.ts
  packages/costa/src/runtime.ts
  packages/daemon/bootstrap.js
  packages/daemon/package.json
  packages/daemon/src/app/controller/app.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/runner/helper.ts
  packages/daemon/src/service/app.ts
  packages/daemon/src/utils/constants.ts
  packages/plugins/model-evaluate/bayesian-model-evaluate/package.json
  packages/plugins/model-train/bayesian-model-train/package.json
Labels: pipcook-app

#252 pipboard: simplify the pipboard list view
  packages/daemon/src/service/pipeline.ts
  packages/pipboard/src/layouts/BasicLayout/index.jsx
  packages/pipboard/src/layouts/BasicLayout/index.scss
  packages/pipboard/src/pages/Pipeline/index.jsx
  packages/pipboard/src/pages/Pipeline/index.scss
  packages/pipboard/src/utils/config.js
Labels: pipboard

#257 model: Add tfjs mobilenet model define plugin
  packages/plugins/model-define/tfjs-mobilenet-model-define/.npmignore
  packages/plugins/model-define/tfjs-mobilenet-model-define/package.json
  packages/plugins/model-define/tfjs-mobilenet-model-define/src/index.ts
  packages/plugins/model-define/tfjs-mobilenet-model-define/tsconfig.json
  test/pipelines/mobilenet-classification.json
Labels: model, tensorflow

#262 doc: update tfjs mobilenet args
  packages/plugins/model-define/tfjs-mobilenet-model-define/src/index.ts
Labels: model

#251 implement cycle gan
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/image_loader/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/image_loader/image_loader.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/layers/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/layers/normalization.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/layers/padding.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/base.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/cyclegan.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/dis/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/dis/basic.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/gen/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/models/gen/resnet.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/utils/__init__.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/CycleGAN/utils/vis_utils.py
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/package-lock.json
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/package.json
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/src/index.ts
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/tsconfig.json
  packages/plugins/model-evaluate/image-generation-tensorflow-model-evaluate/.npmignore
  packages/plugins/model-evaluate/image-generation-tensorflow-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/image-generation-tensorflow-model-evaluate/package.json
  packages/plugins/model-evaluate/image-generation-tensorflow-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/image-generation-tensorflow-model-evaluate/tsconfig.json
  packages/plugins/model-train/image-generation-tensorflow-model-train/package-lock.json
  packages/plugins/model-train/image-generation-tensorflow-model-train/package.json
  packages/plugins/model-train/image-generation-tensorflow-model-train/src/index.ts
  packages/plugins/model-train/image-generation-tensorflow-model-train/tsconfig.json
  test/pipelines/image-generation-cycle-gan.json
Labels: model, plugin

#256 model: add text creation model based on tfjs
  package-lock.json
  packages/core/src/types/data/common.ts
  packages/daemon/assets/predict.js
  packages/daemon/src/app/controller/job.ts
  packages/plugins/data-access/textline-data-access/.npmignore
  packages/plugins/data-access/textline-data-access/package-lock.json
  packages/plugins/data-access/textline-data-access/package.json
  packages/plugins/data-access/textline-data-access/src/index.ts
  packages/plugins/data-access/textline-data-access/tsconfig.json
  packages/plugins/data-collect/chinese-poem-data-collect/.npmignore
  packages/plugins/data-collect/chinese-poem-data-collect/package-lock.json
  packages/plugins/data-collect/chinese-poem-data-collect/package.json
  packages/plugins/data-collect/chinese-poem-data-collect/src/index.ts
  packages/plugins/data-collect/chinese-poem-data-collect/tsconfig.json
  packages/plugins/model-define/tfjs-text-lstm-model-define/.npmignore
  packages/plugins/model-define/tfjs-text-lstm-model-define/package-lock.json
  packages/plugins/model-define/tfjs-text-lstm-model-define/package.json
  packages/plugins/model-define/tfjs-text-lstm-model-define/src/index.ts
  packages/plugins/model-define/tfjs-text-lstm-model-define/tsconfig.json
  packages/plugins/model-evaluate/text-creation-tfjs-model-evaluate/.npmignore
  packages/plugins/model-evaluate/text-creation-tfjs-model-evaluate/package-lock.json
  packages/plugins/model-evaluate/text-creation-tfjs-model-evaluate/package.json
  packages/plugins/model-evaluate/text-creation-tfjs-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/text-creation-tfjs-model-evaluate/tsconfig.json
  packages/plugins/model-train/text-creation-tfjs-model-train/.npmignore
  packages/plugins/model-train/text-creation-tfjs-model-train/package-lock.json
  packages/plugins/model-train/text-creation-tfjs-model-train/package.json
  packages/plugins/model-train/text-creation-tfjs-model-train/src/index.ts
  packages/plugins/model-train/text-creation-tfjs-model-train/tsconfig.json
  test/pipelines/chinese-poem-creation.json
Labels: model

#264 cli: --verbose is default to be true for jobs
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook.ts
  run_pipeline.sh
Labels: cli

#266 fix: update plugin name in cycle gan pipeline
  test/pipelines/image-generation-cycle-gan.json
Labels: pipeline

#265 cli: support custom output dir
  packages/cli/src/actions/start.ts
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/pipeline.ts
Labels: cli

#273 daemon: redirect to index.html for default router
  packages/daemon/src/app/controller/index.ts
Labels: pipboard, pipcook daemon

#271 core: move some constants into core
  packages/cli/src/actions/init.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/utils.ts
  packages/core/src/constants/other.ts
  packages/core/src/index.ts
  packages/daemon/src/boot/database.ts
  packages/daemon/src/boot/plugin.ts
  packages/daemon/src/service/app.ts
  packages/daemon/src/service/pipeline.ts
Labels: cli, core

#274 daemon: add unit tests for service and controller
  package.json
  packages/daemon/package.json
  packages/daemon/src/service/pipeline.ts
  packages/daemon/test/controller/pipeline.test.ts
  packages/daemon/test/service/pipeline.test.ts
  run_tests.sh
Labels: pipcook daemon, tests

#272 cli: optimize the pipcook-daemon error
  packages/cli/src/bin/pipcook-daemon.ts
  packages/daemon/bootstrap.js
Labels: cli, ux

#270 cli: run `npm init` for daemon/pipboard to avoid npm downgrading
  packages/cli/src/actions/init.ts
Labels: cli

#269 cli, daemon: add custom registry support
  packages/cli/src/actions/init.ts
  packages/costa/src/index.ts
  packages/costa/src/runnable_test.ts
  packages/costa/src/runtime.ts
  packages/costa/src/runtime_test.ts
  packages/daemon/src/boot/plugin.ts
  packages/daemon/src/utils/constants.ts
Labels: cli, pipcook daemon

#276 cli: check if path exsits
  packages/cli/package.json
  packages/cli/src/bin/pipcook.ts
  packages/plugins/model-evaluate/detectron-model-evaluate/src/index.ts
Labels: cli

#278 daemon: remove the useless require
  packages/daemon/assets/predict.js
Labels: pipcook daemon

#279 plugin: remove unneeded boa dep
  packages/plugins/model-train/image-generation-tensorflow-model-train/package.json
Labels: plugin

#280 boa: add BOA_TUNA to simplify the mirror usage
  docs/contributing/guide-to-contributor.md
  docs/zh-cn/contributing/guide-to-contributor.md
  packages/boa/package.json
  packages/boa/tools/bip.js
  packages/boa/tools/install-python.js
  packages/boa/tools/utils.js
Labels: boa

#281 daemon: add script "boapkg" to install python packages for output proj
  docs/manual/intro-to-pipeline.md
  docs/zh-cn/manual/intro-to-pipeline.md
  packages/daemon/assets/boapkg.js
  packages/daemon/src/service/pipeline.ts
Labels: pipcook daemon

#283 cli: prints the install logs
  packages/cli/src/actions/start.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/pipeline.ts
Labels: cli

#288 readme: fix 404 links
  README.md
Labels: documentation

#284 core: cleanup the type definitions
  packages/core/src/index.ts
  packages/core/src/types/component.ts
  packages/core/src/types/config.ts
  packages/core/src/types/data/common.ts
  packages/core/src/types/data/csv.ts
  packages/core/src/types/data/image.ts
  packages/core/src/types/database.ts
  packages/core/src/types/model.ts
  packages/core/src/types/other.ts
  packages/core/src/types/plugins.ts
  packages/plugins/model-define/tfjs-mobilenet-model-define/src/index.ts
  packages/plugins/model-define/tfjs-simplecnn-model-define/src/index.ts
  packages/plugins/model-define/tfjs-text-lstm-model-define/src/index.ts
  packages/plugins/model-evaluate/image-classification-tfjs-model-evaluate/src/index.ts
  packages/plugins/model-evaluate/text-creation-tfjs-model-evaluate/src/index.ts
  packages/plugins/model-train/image-classification-tfjs-model-train/src/index.ts
  packages/plugins/model-train/text-creation-tfjs-model-train/src/index.ts
Labels: core

#287 doc: update docker
  docs/INSTALL.md
  docs/zh-cn/INSTALL.md
  docs/zh-cn/manual/intro-to-pipeline.md
Labels: documentation
