Repository alibaba/pipcook, pull requests merged in 2020-08, with the labels that each got.

#386 fix: installation guide url
  README.md
Labels: documentation

#393 CI/CD: fix beta release skipping
  package.json
Labels: ci/cd

#380 daemon: refactor plugin api
  package-lock.json
  packages/cli/src/request.ts
  packages/core/src/index.ts
  packages/core/src/types/plugins.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runnable_test.ts
  packages/costa/src/runtime.ts
  packages/costa/src/runtime_test.ts
  packages/costa/src/utils.ts
  packages/daemon/package.json
  packages/daemon/src/app/controller/app.ts
  packages/daemon/src/app/controller/base.ts
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/app/controller/log.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/src/app/middleware/error-handler.ts
  packages/daemon/src/boot/database.ts
  packages/daemon/src/config/config.default.ts
  packages/daemon/src/interface.ts
  packages/daemon/src/model/plugin.ts
  packages/daemon/src/service/log-manager.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/daemon/src/utils/response.ts
  packages/daemon/test/controller/pipeline.test.ts
  packages/sdk/src/base.ts
  packages/sdk/src/index.ts
  packages/sdk/src/interface.ts
  packages/sdk/src/job.ts
  packages/sdk/src/pipeline.ts
  packages/sdk/src/plugin.ts
  packages/sdk/src/request.ts
  test/sdk/job.ts
  test/sdk/pipeline.ts
  test/sdk/plugin.ts
  test/sdk/text-bayes-classification.json
Labels: pipcook daemon, sdk

#392 build: tweak the versions to decrease root packages' size
  lerna.json
  package-lock.json
  package.json
  packages/costa/package-lock.json
  packages/pipboard/package-lock.json
  packages/pipboard/package.json
  packages/sdk/package-lock.json
Labels: build

#394 core: replace shortid with nanoid
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/utils/public.ts
  packages/core/src/utils/public_test.ts
  packages/costa/package.json
  packages/costa/src/client.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runtime.ts
  packages/daemon/package.json
  packages/daemon/src/runner/helper.ts
  packages/daemon/src/service/log-manager.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/plugins/data-access/csv-data-access/package.json
  packages/plugins/data-collect/image-classification-data-collect/package.json
  packages/plugins/data-collect/image-classification-data-collect/src/index.ts
Labels: core

#395 boa: fix redownload pybind11 when execute `lerna add`
  packages/boa/pybind11/Makefile
Labels: boa

#400 build, doc: remove deprecated typedoc-plugin-lerna
  package.json
Labels: build, documentation

#389 boa: generate object instead of `dict` to Python function
  packages/boa/lib/index.js
  packages/boa/src/core/object.cc
  packages/boa/tests/base/basic.js
  packages/boa/tests/base/basic/__init__.py
  packages/boa/tests/stdlib/builtins.js
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/src/index.ts
  packages/plugins/model-train/image-generation-tensorflow-model-train/package.json
  packages/plugins/model-train/image-generation-tensorflow-model-train/src/index.ts
Labels: boa

#399 build: re-installation takes too long
  package.json
Labels: build

#401 fix: reimplement cli whth sdk
  packages/cli/package.json
  packages/cli/src/actions/start.ts
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/utils.ts
  packages/core/src/types/database.ts
  packages/costa/src/runnable.ts
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/sdk/src/base.ts
  packages/sdk/src/index.ts
  packages/sdk/src/interface.ts
  packages/sdk/src/job.ts
  packages/sdk/src/pipeline.ts
  packages/sdk/src/plugin.ts
  packages/sdk/src/request.ts
  packages/sdk/src/utils.ts
Labels: cli, sdk

#372 plugin: don't load prebuilt "imagenet" weights when inferencing
  packages/plugins/model-define/tensorflow-mobilenet-model-define/src/index.ts
  packages/plugins/model-define/tensorflow-resnet-model-define/src/index.ts
Labels: plugin

#402 build: add beta preid to version
  package.json
Labels: build

#412 doc: fix pipeline config file format error
  docs/zh-cn/tutorials/machine-learning-overview.md
Labels: documentation

#415 doc: fix command typo
  docs/INSTALL.md
  docs/zh-cn/INSTALL.md
Labels: documentation

#397 daemon: add migration support
  docs/contributing/guide-to-contributor.md
  package.json
  packages/daemon/.sequelizerc
  packages/daemon/package.json
  packages/daemon/src/config/config.ts
  packages/daemon/src/migrations/20200803063219-addDatasetProcess.ts
Labels: pipcook daemon

#388 costa: add python runnable for machine-learning developers
  docs/contributing/contribute-a-plugin.md
  docs/zh-cn/contributing/contribute-a-plugin.md
  docs/zh-cn/spec/plugin.md
  packages/costa/package.json
  packages/costa/src/client/entry.ts
  packages/costa/src/client/loaders/index.ts
  packages/costa/src/client/loaders/nodejs.ts
  packages/costa/src/client/loaders/python.ts
  packages/costa/src/index.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runnable_test.ts
  packages/costa/src/runtime.ts
  packages/costa/test/lrucache_test.ts
  packages/costa/test/plugins/nodejs-simple/index.js
  packages/costa/test/plugins/nodejs-simple/package.json
  packages/costa/test/plugins/python-simple/__init__.py
  packages/costa/test/plugins/python-simple/package.json
  packages/costa/test/protocol_test.ts
  packages/costa/test/runnable_test.ts
  packages/costa/test/runtime_test.ts
  packages/costa/tsconfig.json
Labels: costa

#417 daemon: check table before migration
  packages/daemon/src/migrations/20200803063219-addDatasetProcess.ts
Labels: pipcook daemon

#414 CI/CD: Fix prerelease
  .github/workflows/beta.yml
  package.json
Labels: build, ci/cd

#381 plugin: add GlobalDataProcess Plugin
  packages/cli/assets/pluginPackage/src/dataProcess.ts
  packages/cli/assets/pluginPackage/src/datasetProcess.ts
  packages/core/src/constants/plugins.ts
  packages/core/src/index.ts
  packages/core/src/types/plugins.ts
  packages/costa/src/client/entry.ts
  packages/daemon/src/model/pipeline.ts
  packages/daemon/src/service/pipeline.ts
Labels: plugin

#408 cli: fix ci error
  .github/workflows/build.yml
  .github/workflows/cli.yml
  .github/workflows/gh-pages.yml
  .github/workflows/markdown.yml
  .github/workflows/sdk.yml
  package.json
  packages/cli/src/actions/board.ts
  packages/cli/src/actions/dev-plugin.ts
  packages/cli/src/actions/init.ts
  packages/cli/src/actions/serve.ts
  packages/cli/src/bin/pipcook-app.ts
  packages/cli/src/bin/pipcook-daemon.ts
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/service/app.ts
  packages/cli/src/service/job.ts
  packages/cli/src/service/pipeline.ts
  packages/cli/src/service/plugin.ts
  packages/cli/src/utils/common.ts
  packages/cli/src/utils/request.ts
  packages/cli/src/utils/router.ts
  packages/costa/src/runtime.ts
  packages/costa/test/runnable_test.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/migrations/20200807132900-addPluginStatus.ts
  packages/daemon/src/model/plugin.ts
  packages/daemon/src/service/plugin.ts
  packages/sdk/src/index.ts
  packages/sdk/src/request.ts
  packages/sdk/src/utils.ts
  tools/config.json
  tools/init_dev.js
Labels: cli

#421 test(boa): add dynamic import test on esm
  packages/boa/tests/es-module-loaders/common.js
  packages/boa/tests/es-module-loaders/py/test-esm-loader-dynamic-imports.mjs
Labels: boa, tests

#422 costa: fix test timeout
  packages/costa/test/runnable_test.ts
Labels: costa, tests

#423 CI/CD: fix beta release
  .github/workflows/beta.yml
Labels: ci/cd

#418 deamon: run migration script when booting
  packages/daemon/bootstrap.js
Labels: pipcook daemon

#424 plugins: lock the version of python dependencies
  packages/costa/test/plugins/python-simple/package.json
  packages/plugins/data-process/tensorflow-image-classification-process/package.json
  packages/plugins/model-define/bayesian-model-define/package.json
  packages/plugins/model-define/detectron-fasterrcnn-model-define/package.json
  packages/plugins/model-define/detectron-maskrcnn-model-define/package.json
  packages/plugins/model-define/tensorflow-cycle-gan-model-define/package.json
  packages/plugins/model-define/tensorflow-mobilenet-model-define/package.json
  packages/plugins/model-define/tensorflow-resnet-model-define/package.json
  packages/plugins/model-evaluate/bayesian-model-evaluate/package.json
  packages/plugins/model-evaluate/detectron-model-evaluate/package.json
  packages/plugins/model-evaluate/image-classification-tensorflow-model-evaluate/package.json
  packages/plugins/model-load/tensorflow-model-load/package.json
  packages/plugins/model-train/bayesian-model-train/package.json
  packages/plugins/model-train/detectron-model-train/package.json
  packages/plugins/model-train/image-classification-tensorflow-model-train/package.json
Labels: plugin

#427 sdk: fix missing dependency form-data
  packages/sdk/package.json
Labels: sdk

#428 sdk: throw message from server if uploadFile error
  packages/sdk/src/request.ts
Labels: sdk

#433 boa: fix crush if import a nonexistent module
  packages/boa/src/core/node.cc
  packages/boa/tests/base/basic.js
Labels: boa

#434 daemon, costa: remove the installation action for job run
  packages/costa/src/runtime.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
Labels: costa, pipcook daemon

#436 cli: fix run a pipeline config without download
  .github/workflows/cli.yml
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/service/job.ts
Labels: cli

#440 daemon: fix migration script
  packages/daemon/src/migrations/20200807132900-addPluginStatus.ts
Labels: pipcook daemon

#447 boa: fix function kwargs error message
  packages/boa/lib/index.js
Labels: boa

#443 fix: error when run config file with http protocol
  packages/daemon/src/service/pipeline.ts
  test/pipelines/text-bayes-classification.json
  test/sdk/job.ts
Labels: pipcook daemon

#451 example: fix plugin name
  docs/contributing/contribute-a-plugin.md
  docs/tutorials/component-image-classification.md
  docs/tutorials/machine-learning-overview.md
  docs/zh-cn/tutorials/component-image-classification.md
  docs/zh-cn/tutorials/machine-learning-overview.md
  example/pipelines/databinding-image-classification-mobilenet.json
  example/pipelines/databinding-image-classification-resnet.json
  example/pipelines/mnist-image-classification.json
  notebooks/pipcook_image_classification.ipynb
Labels: plugin, tests

#453 fix: pipeline install with pyIndex
  packages/daemon/src/app/controller/pipeline.ts
Labels: pipcook daemon

#450 daemon: preinstall sequelize-cli for migration
  packages/daemon/package.json
Labels: pipcook daemon

#457 costa: fix upload tarball error
  packages/costa/src/runnable.ts
  packages/costa/src/runtime.ts
  packages/costa/src/utils.ts
  packages/costa/test/runtime_test.ts
  packages/costa/test/utils_test.ts
Labels: costa

#459 sdk: add test case for download
  test/sdk/job.ts
Labels: sdk

#465 daemon: add benchmark for startup
  packages/daemon/benchmark/bootstrap.js
  packages/daemon/package.json
Labels: pipcook daemon

#470 ci: set global timeout
  .github/workflows/build.yml
  package-lock.json
  packages/core/src/utils/public_test.ts
  packages/costa/test/runnable_test.ts
  packages/costa/test/runtime_test.ts
  run_tests.ts
  test/sdk/job.ts
  test/sdk/pipeline.ts
  test/sdk/plugin.ts
Labels: ci/cd

#467 cli: fix help/hostIp command
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook-pipeline.ts
  packages/cli/src/bin/pipcook-plugin.ts
  packages/cli/src/service/job.ts
  packages/cli/src/service/pipeline.ts
  packages/cli/src/service/plugin.ts
Labels: cli

#455 daemon: pipeline and plugin installation queue
  packages/core/src/types/database.ts
  packages/core/src/types/plugins.ts
  packages/daemon/package.json
  packages/daemon/src/app/controller/base.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/daemon/src/utils.ts
Labels: pipcook daemon

#452 cli: remove duplicated code
  packages/cli/src/actions/init.ts
  packages/cli/src/bin/pipcook-daemon.ts
  packages/cli/src/bin/pipcook.ts
Labels: cli

#471 fix data batch
  packages/core/src/types/data/common.ts
  packages/core/src/types/data/common_test.ts
Labels: core

#468 fix data process to predict
  docs/spec/plugin.md
  docs/zh-cn/spec/plugin.md
  packages/core/src/types/plugins.ts
  packages/daemon/templates/node/predict.js
Labels: pipcook daemon

#473 fix: crush when import nonexistent module in some cases
  packages/boa/src/core/node.cc
Labels: boa

#474 Bump version to 1.1.2
  packages/app/package-lock.json
  packages/app/package.json
  packages/boa/package-lock.json
  packages/boa/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/costa/package-lock.json
  packages/costa/package.json
  packages/daemon/package-lock.json
  packages/daemon/package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Labels: versioning

#478 daemon: fix plugin status
  packages/daemon/src/service/plugin.ts
  packages/sdk/src/utils.ts
Labels: cli, pipcook daemon

#472 cli: init plugin with boa and core
  packages/cli/src/actions/init.ts
  packages/cli/src/config.ts
Labels: cli, plugin

#476 cli: fix plugin install error, fix ci test case
  .github/workflows/build.yml
  packages/cli/src/service/pipeline.ts
Labels: cli, tests

#460 Build: Speed up building
  package-lock.json
  package.json
  packages/app/package.json
  packages/app/src/compiler/pipelines/vision-classify.base.json
  packages/bc1.pb
  packages/cli/package.json
  packages/cli/src/config.ts
  packages/core/package.json
  packages/costa/package.json
  packages/daemon/package.json
  packages/sdk/package.json
  test/pipelines/chinese-poem-creation.json
  test/pipelines/databinding-image-classification.json
  test/pipelines/fasttext.json
  test/pipelines/image-generation-cycle-gan.json
  test/pipelines/instance-segmentation.json
  test/pipelines/mnist-image-classification.json
  test/pipelines/mobilenet-classification.json
  test/pipelines/object-detection.json
Labels: build

#469 boa: fix memory leak in js heap
  packages/boa/.gitignore
  packages/boa/package-lock.json
  packages/boa/package.json
  packages/boa/src/core/object.cc
  packages/boa/src/core/object.h
  packages/boa/src/core/reference.cc
  packages/boa/src/core/reference.h
  packages/boa/tests/base/basic.js
  packages/boa/tests/base/delegator-builtins-enumerate.js
  packages/boa/tests/base/delegator-callee.js
  packages/boa/tests/base/eval.js
  packages/boa/tests/base/utils.js
  packages/boa/tests/es-module-loaders/common.js
  packages/boa/tests/es-module-loaders/js/test-esm-loader-thirdparty.mjs
  packages/boa/tests/numpy/constants.js
  packages/boa/tests/numpy/ndarray.js
  packages/boa/tests/numpy/routines.array.js
  packages/boa/tests/numpy/routines.financial.js
  packages/boa/tests/numpy/routines.linalg.js
  packages/boa/tests/numpy/routines.matrix.js
  packages/boa/tests/numpy/ufunc.js
  packages/boa/tests/stdlib/builtins.js
  packages/boa/tests/stdlib/colorsys.js
  packages/boa/tests/stdlib/crypto.js
  packages/boa/tests/stdlib/fs-access.js
  packages/boa/tests/stdlib/internet.js
  packages/boa/tests/stdlib/numeric.js
  packages/boa/tests/stdlib/os.js
  packages/boa/tests/stdlib/sys.js
  packages/boa/tests/stdlib/text.js
  packages/boa/tools/memory-leak-debugger.js
Labels: boa

#480 fix: fd leak from log file
  packages/daemon/src/service/log-manager.ts
Labels: pipcook daemon

#482 doc: fix the incorrect link in plugin spec doc
  docs/spec/plugin.md
  docs/zh-cn/spec/plugin.md
Labels: documentation

#491 daemon: add versions and config api
  packages/daemon/package-lock.json
  packages/daemon/package.json
  packages/daemon/src/app/controller/index.ts
  packages/daemon/test/controller/index.test.ts
Labels: pipcook daemon

#494 daemon: avoid generating d.ts files
  package.json
  packages/daemon/tsconfig.json
Labels: daemon

#495 daemon: enable cors for ng-pipboard
  lerna.json
  packages/daemon/package-lock.json
  packages/daemon/package.json
  packages/daemon/src/config/config.default.ts
  packages/daemon/src/config/plugin.ts
Labels: daemon

#496 cli: avoid generating d.ts
  packages/cli/tsconfig.json
Labels: cli

#497 daemon: remove unneeded npx from npm-script
  packages/daemon/package.json
Labels: daemon

#499 sdk: add apis `versions` and `config`
  packages/sdk/src/index.ts
  packages/sdk/src/interface.ts
  test/sdk/index.ts
Labels: sdk

#500 daemon, sdk: add new func to fetch plugin
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/test/controller/plugin.test.ts
  packages/sdk/src/plugin.ts
  test/sdk/plugin.ts
Labels: daemon, sdk

#501 sdk: add `ListFilter` and `JobListFilter` to list functions
  packages/sdk/src/interface.ts
  packages/sdk/src/job.ts
  packages/sdk/src/pipeline.ts
  test/sdk/job.ts
Labels: sdk

#481 cli: init with version
  README.md
  docs/manual/pipcook-tools.md
  docs/zh-cn/manual/pipcook-tools.md
  packages/cli/src/actions/init.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/types/handler.ts
Labels: cli

#504 sdk: fix pipeline update params
  packages/cli/src/service/pipeline.ts
  packages/sdk/src/index.ts
  packages/sdk/src/interface.ts
  packages/sdk/src/pipeline.ts
  test/sdk/job.ts
  test/sdk/pipeline.ts
Labels: sdk

#507 sdk: specify files in package to avoid tsconfig error
  packages/sdk/package.json
Labels: sdk

#446 CI/CD: release Docker image
  .github/workflows/release.yml
  docker/Dockerfile
Labels: build, ci/cd

#508 sdk, daemon: add fetchByName api and tests
  packages/daemon/src/app/controller/plugin.ts
  packages/daemon/test/controller/plugin.test.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/plugin.ts
  packages/sdk/test/plugin.test.ts
  packages/sdk/tsconfig.json
Labels: daemon, sdk

#512 fix python runtime
  packages/costa/src/client/loaders/python.ts
  packages/costa/test/plugins/python-scope/__init__.py
  packages/costa/test/plugins/python-scope/package.json
  packages/costa/test/runnable_test.ts
Labels: costa

#516 sdk: fix test case
  packages/sdk/test/plugin.test.ts
  run_tests.sh
Labels: sdk

#513 cli: remove unneeded log
  packages/cli/src/service/plugin.ts
Labels: cli

#510 daemon, cli: fix get pipeline config
  packages/cli/src/service/pipeline.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/test/controller/pipeline.test.ts
  packages/daemon/test/controller/plugin.test.ts
  packages/sdk/src/pipeline.ts
  packages/sdk/test/pipeline.test.ts
Labels: breaking-change, cli, daemon

#511 core: add util plugin name parser
  packages/core/src/index.ts
  packages/core/src/types/plugins.ts
  packages/core/src/utils/common.ts
  packages/core/src/utils/common_test.ts
  packages/costa/src/index.ts
  packages/costa/src/runtime.ts
Labels: core, costa

#515 daemon: create plugin record when create pipeline
  .github/workflows/build.yml
  packages/core/src/index.ts
  packages/core/src/types/database.ts
  packages/core/src/types/plugins.ts
  packages/daemon/src/app/controller/pipeline.ts
  packages/daemon/src/migrations/20200825183100-addPluginId.ts
  packages/daemon/src/model/pipeline.ts
  packages/daemon/src/model/plugin.ts
  packages/daemon/src/runner/helper.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/src/service/plugin.ts
  packages/daemon/test/controller/pipeline.test.ts
  packages/daemon/test/res/baseline-v1.db
  packages/sdk/src/interface.ts
  packages/sdk/src/utils.ts
  test/sdk/pipeline.ts
Labels: daemon

#518 costa: remove dependecies when uninstall plugins
  packages/costa/package.json
  packages/costa/src/runtime.ts
  packages/costa/test/runtime_test.ts
  packages/costa/test/utils_test.ts
Labels: costa

#519 ci: ignore docs and docker dir
  .github/workflows/build.yml
  package.json
Labels: ci/cd

#523 fix: child process not exits with unhandled rejection
  packages/costa/src/client/entry.ts
Labels: costa

#522 cli: fix the commander args for --output
  .github/workflows/build.yml
  packages/cli/src/bin/pipcook-job.ts
  packages/cli/src/bin/pipcook.ts
Labels: cli

#527 sdk: add new api to generate the output url to download
  packages/sdk/src/index.ts
  packages/sdk/src/job.ts
  packages/sdk/test/job.test.ts
Labels: sdk

#528 daemon: fix download
  packages/daemon/src/app/controller/job.ts
Labels: daemon

#524 daemon: check plugins status before response
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/service/pipeline.ts
  packages/daemon/test/controller/job.test.ts
Labels: daemon

#529 daemon: update it when add plugin id columns in pipeline table
  packages/daemon/src/migrations/20200825183100-addPluginId.ts
Labels: daemon

#531 daemon: check log file before reading
  packages/cli/src/service/job.ts
  packages/daemon/src/app/controller/job.ts
  packages/daemon/src/service/pipeline.ts
Labels: daemon

#534 cli: fix typo error
  packages/cli/src/bin/pipcook-daemon.ts
Labels: cli

#537 cli: show pipeline id in job list
  packages/cli/src/service/job.ts
Labels: cli
