Repository alibaba/pipcook, pull requests merged in 2020-02, with the labels that each got.

#10 readme: refine the description and add links to run pipeline section
  README.md
Labels: documentation

#14 meta: format the lerna.json to be recommended
  lerna.json
Labels: meta

#13 meta, lint: extends the recommended rules
  .eslintrc.js
Labels: build, meta

#16 build: fix some lint errors by eslint --fix
  packages/pipcook-core/src/board/board.ts
  packages/pipcook-core/src/components/PipcookLifeCycleComponent.ts
  packages/pipcook-core/src/core/core.ts
  packages/pipcook-core/src/types/component.ts
  packages/pipcook-core/src/types/data.ts
  packages/pipcook-core/src/types/model.ts
  packages/pipcook-core/src/types/other.ts
  packages/pipcook-core/src/types/plugins.ts
  packages/pipcook-plugins-bayesian-classifier-model-train/src/index.ts
  packages/pipcook-plugins-detection-detectron-data-access/src/index.ts
  packages/pipcook-plugins-detection-detectron-model-evaluate/src/index.ts
  packages/pipcook-plugins-image-class-data-access/src/index.ts
  packages/pipcook-plugins-image-coco-data-collect/src/index.ts
  packages/pipcook-plugins-image-detection-data-access/src/index.ts
  packages/pipcook-plugins-image-mnist-data-collect/src/index.ts
  packages/pipcook-plugins-local-mobileNet-model-load/src/index.ts
  packages/pipcook-plugins-model-evaluate/src/index.ts
  packages/pipcook-plugins-simple-cnn-model-load/src/index.ts
  packages/pipcook-plugins-text-class-data-collect/src/index.ts
  packages/pipcook-plugins-text-class-local-model-deploy/src/index.ts
  packages/pipcook-plugins-text-csv-data-access/src/index.ts
  packages/pipcook-python-node/src/communication/communication.ts
  packages/pipcook-python-node/src/core/python-helper.ts
  packages/pipcook-python-node/src/core/python.ts
  packages/pipcook-python-node/src/types/python-object.ts
Labels: build

#18 build: fix the python-node package lint errors
  .eslintignore
  .eslintrc.js
  package.json
  packages/pipcook-python-node/src/communication/communication.ts
  packages/pipcook-python-node/src/core/python-helper.ts
Labels: build

#19 build: fix pipcook-core lint errors
  .eslintrc.js
  packages/pipcook-core/src/board/board.ts
  packages/pipcook-core/src/core/core-helper.ts
  packages/pipcook-core/src/core/core.ts
  packages/pipcook-core/src/index.ts
  packages/pipcook-core/src/types/component.ts
  packages/pipcook-core/src/types/data.ts
  packages/pipcook-core/src/types/other.ts
  packages/pipcook-core/src/types/plugins.ts
  packages/pipcook-core/src/utils/serverProcess.ts
Labels: build, pipcook-core

#21 build: fix lint errors in plugins
  .eslintrc.js
  packages/pipcook-plugins-detection-detectron-data-access/src/index.ts
  packages/pipcook-plugins-detection-detectron-eas-model-deploy/src/index.ts
  packages/pipcook-plugins-detection-detectron-model-load/src/index.ts
  packages/pipcook-plugins-image-class-data-process/src/index.ts
  packages/pipcook-plugins-image-class-eas-deploy/src/index.ts
  packages/pipcook-plugins-image-class-local-model-deploy/src/index.ts
  packages/pipcook-plugins-image-mnist-data-collect/src/index.ts
  packages/pipcook-plugins-local-mobileNet-model-load/src/index.ts
  packages/pipcook-plugins-model-evaluate/src/index.ts
  packages/pipcook-plugins-model-train/src/index.ts
  packages/pipcook-plugins-simple-cnn-model-load/src/index.ts
  packages/pipcook-plugins-text-class-data-process/src/index.ts
  packages/pipcook-plugins-text-class-local-model-deploy/src/index.ts
Labels: build

#22 build: add github actions config and tweak npm scripts
  .github/workflows/build.yml
  package.json
  packages/pipcook-core/src/core/core-helper.ts
  packages/pipcook-plugins-bayesian-classifier-model-train/src/index.ts
  packages/pipcook-plugins-image-class-data-process/src/index.ts
Labels: build, meta, tests

#24 examples: fix typo in mobilenet examples
  example/pipeline-example/pipeline-databinding-image-classification.js
  packages/pipcook-cli/assets/example/pipeline-example/pipeline-databinding-image-classification.js
  packages/pipcook-plugins-local-mobilenet-model-load/.npmignore
  packages/pipcook-plugins-local-mobilenet-model-load/package.json
  packages/pipcook-plugins-local-mobilenet-model-load/src/index.ts
  packages/pipcook-plugins-local-mobilenet-model-load/tsconfig.json
Labels: documentation

#25 Eas deploy in pipcook-app should know whether it will create or update the service
  README.md
  packages/pipcook-app/src/utils/utils.ts
Labels: bug, pipcook-core

#26 readme: add github action badge
  README.md
Labels: meta

#28 build: eslint rules for js files and fix some errors
  .eslintignore
  .eslintrc.js
  package.json
  packages/pipcook-cli/bin/index.js
  packages/pipcook-cli/lib/board.js
  packages/pipcook-cli/lib/dataset.js
  packages/pipcook-cli/lib/devPlugin.js
  packages/pipcook-cli/lib/init.js
Labels: build

#27 meta: add meta docs
  docs/meta/PROJECT_GUIDE.md
Labels: documentation, meta
