Repository alibaba/pipcook, pull requests merged in 2021-04, with the labels that each got.

#740 cli: command `run` supports uri protocol
  packages/cli/src/bin/pipcook.test.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/utils/plugin.ts
Labels: cli

#742 cli: fix file protocol uri with query
  packages/cli/src/utils/script.test.ts
  packages/cli/src/utils/script.ts
Labels: cli

#750 cli: hidden command `install` and add logs for command `clean`
  packages/cli/src/bin/pipcook.ts
Labels: cli

#749 cli: fix cli version error
  packages/cli/src/bin/pipcook.ts
  packages/cli/tools/setup.sh
Labels: cli

#751 meta: remove the deprecated package paths
  CODEOWNERS
Labels: 2.0

#747 costa: support all entries in one script
  packages/costa/src/index.test.ts
  packages/costa/src/index.ts
Labels: costa

#739 doc: add documents for runtime.
  packages/cli/src/standalone-impl.ts
  packages/core/src/runtime.ts
  packages/costa/src/index.test.ts
  packages/costa/src/index.ts
  packages/costa/src/types.ts
  tools/mkdoc.sh
Labels: docs

#760 cli: improve test coverage
  packages/cli/src/bin/pipcook.test.ts
  packages/cli/src/bin/pipcook.ts
Labels: cli, tests

#758 cli: fix coverage of bin
  .github/workflows/build.yml
  packages/cli/package.json
  packages/cli/tools/setup.sh
Labels: cli

#762 cli: add test for runtime
  packages/cli/src/constants/index.test.ts
  packages/cli/src/runtime.test.ts
  packages/cli/src/runtime.ts
  packages/cli/src/standalone-impl.test.ts
  packages/cli/src/standalone-impl.ts
  packages/core/src/runtime.ts
Labels: cli, tests

#764 meta: remove unused tools
  tools/dev_config.json
  tools/init_dev.js
Labels: 2.0, meta

#766 cli: fix coverage of constants
  packages/cli/.nycrc
  packages/cli/package.json
  packages/cli/src/constants/index.test.ts
  packages/costa/.nycrc
  packages/costa/package.json
  yarn.lock
Labels: cli, costa, tests

#765 boa: upgrade to 2.1.0
  packages/cli/package.json
  packages/costa/package.json
  yarn.lock
Labels: boa

#763 fix: README.md for 2.0
  README.md
Labels: 2.0, docs

#769 cli: import script without copy if the script protocol is `file:`
  packages/cli/src/utils/script.test.ts
  packages/cli/src/utils/script.ts
  packages/costa/src/index.ts
Labels: cli

#771 datacook: upgrade to 0.0.7
  packages/core/package.json
  packages/costa/package.json
  yarn.lock
Labels: dependencies

#770 cli/costa: move `ts-node` to devdependencies
  packages/cli/package.json
  packages/costa/package.json
Labels: cli, costa

#775 meta: update dingtalk qrcode
  README.md
  docs/images/community_qrcode.jpg
  docs/images/community_qrcode.png
Labels: meta

#761 fix warning from license and npm
  .github/workflows/beta.yml
  .github/workflows/build.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/costa/package-lock.json
  packages/costa/package.json
  yarn.lock
Labels: cli, core, costa

#776 cli: support relative path for script uri
  packages/cli/src/utils/script.test.ts
  packages/cli/src/utils/script.ts
Labels: cli, pipeline

#779 meta: use bent instead of request
  packages/cli/package.json
  packages/cli/src/utils/index.ts
  packages/costa/package.json
Labels: meta

#767 cli: fix fetch with cache
  packages/cli/src/utils/cache.test.ts
  packages/cli/src/utils/cache.ts
Labels: cli

#780 cli: add log when extracting files
  packages/cli/src/utils/index.ts
Labels: cli

#784 ci: fix unit test timeout
  packages/cli/src/utils/index.test.ts
Labels: ci/cd

#782 ci: remove cache for boa
  .github/workflows/build.yml
Labels: boa

#783 meta: modify code owner for core
  CODEOWNERS
Labels: meta

#781 core: rename api for better semantic
  example/pipelines/bayes.v2.json
  example/pipelines/chinese-poem-creation.json
  example/pipelines/databinding-image-classification-mobilenet.json
  example/pipelines/databinding-image-classification-resnet.json
  example/pipelines/english-name-entity-recognition.json
  example/pipelines/fasttext.json
  example/pipelines/image-generation-cycle-gan.json
  example/pipelines/mnist-image-classification.json
  example/pipelines/mobilenet.v2.json
  example/pipelines/object-detection-fasterrcnn.json
  example/pipelines/object-detection-yolov5.json
  example/pipelines/text-bayes-classification.json
  packages/cli/src/runtime.test.ts
  packages/cli/src/runtime.ts
  packages/cli/src/standalone-impl.test.ts
  packages/cli/src/standalone-impl.ts
  packages/cli/src/utils/framework.test.ts
  packages/cli/src/utils/plugin.test.ts
  packages/cli/src/utils/plugin.ts
  packages/cli/src/utils/script.test.ts
  packages/cli/src/utils/script.ts
  packages/core/src/runtime.ts
  packages/costa/src/index.ts
  packages/costa/src/types.ts
  test/pipelines/bayes.v2.json
  test/pipelines/mobilenet.v2.json
Labels: 2.0, breaking-change
