Repository alibaba/pipcook, pull requests merged in 2021-03, with the labels that each got.

#719 pipcook2.0: dataSource add scriptQuery
  packages/cli/package.json
  packages/cli/src/utils/script.ts
  packages/core/src/types/pipeline.ts
  yarn.lock
Labels: 2.0

#722 example: correct pipeline v2 name
  example/pipelines/mobilenet.v2.json
Labels: pipeline

#724 cli: fix directory name
  packages/cli/src/runtime.ts
Labels: cli

#728 workflow: run bayes and mobilenet for test
  .eslintignore
  .github/workflows/build.yml
  example/pipelines/bayes.v2.json
  example/pipelines/mobilenet.v2.json
  packages/cli/package.json
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/utils/framework.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/plugin.ts
  packages/core/src/constants/index.ts
  packages/costa/src/index.ts
  yarn.lock
Labels: ci/cd

#729 costa: fix script query
  example/pipelines/bayes.v2.json
  example/pipelines/mobilenet.v2.json
  packages/cli/src/runtime.ts
  packages/costa/src/index.test.ts
  packages/costa/src/index.ts
Labels: costa

#727 pipcook2.0: Support training data in a random way & with unit test cases
  packages/cli/src/runtime.ts
  packages/cli/src/standalone-impl.test.ts
  packages/cli/src/standalone-impl.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/types/runtime.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/script.test.ts
  packages/core/src/utils/script.ts
  packages/costa/src/index.test.ts
  packages/costa/src/index.ts
Labels: runtime

#726 cli: show download progress, add custom mirror
  .github/workflows/build.yml
  packages/cli/package.json
  packages/cli/src/bin/pipcook.test.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/runtime.ts
  packages/cli/src/test.helper.ts
  packages/cli/src/utils/cache.test.ts
  packages/cli/src/utils/cache.ts
  packages/cli/src/utils/framework.test.ts
  packages/cli/src/utils/framework.ts
  packages/cli/src/utils/index.test.ts
  packages/cli/src/utils/index.ts
  packages/core/src/utils/index.test.ts
  test/pipelines/bayes.v2.json
  test/pipelines/mobilenet.v2.json
  test/pipelines/text-bayes-classification.json
  yarn.lock
Labels: cli

#733 cli: move `import-refresh` to devDependencies
  packages/cli/package.json
Labels: cli

#736 cli: pretty download progress
  packages/cli/package.json
  packages/cli/src/utils/index.ts
  yarn.lock
Labels: cli

#738 core: move utils into cli, upgrade datacook to v0.0.5
  packages/cli/package.json
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/constants/index.ts
  packages/cli/src/runtime.ts
  packages/cli/src/standalone-impl.test.ts
  packages/cli/src/standalone-impl.ts
  packages/cli/src/test.helper.ts
  packages/cli/src/utils/framework.test.ts
  packages/cli/src/utils/framework.ts
  packages/cli/src/utils/index.test.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/plugin.test.ts
  packages/cli/src/utils/plugin.ts
  packages/cli/src/utils/script.test.ts
  packages/cli/src/utils/script.ts
  packages/cli/tools/setup.sh
  packages/core/package.json
  packages/core/src/artifact.ts
  packages/core/src/index.ts
  packages/core/src/runtime.ts
  packages/core/src/types/runtime.ts
  packages/core/src/utils/index.test.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/script.test.ts
  packages/core/src/utils/script.ts
  packages/costa/package.json
  packages/costa/src/index.test.ts
  packages/costa/src/index.ts
  packages/costa/src/types.ts
  tools/mkdoc.sh
  yarn.lock
Labels: core
