Repository alibaba/pipcook, pull requests merged in 2021-01, with the labels that each got.

#681 doc: improve the title of ML overview
  docs/tutorials/machine-learning-overview.md
  docs/zh-cn/tutorials/machine-learning-overview.md
Labels: docs

#688 upgrade axios to 0.21.1
  packages/cli/package.json
  packages/daemon/package.json
  packages/sdk/package.json
  yarn.lock
Labels: dependencies, security

#676 doc: add FAQ to docs
  docs/_sidebar.md
  docs/faq/index.md
  docs/faq/pipcook-framework.md
  docs/faq/plugins.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/faq/index.md
  docs/zh-cn/faq/pipcook-framework.md
  docs/zh-cn/faq/plugins.md
Labels: docs

#687 upgrade axios to 0.21.1
  packages/cli/package.json
  packages/daemon/package.json
  packages/sdk/package.json
  yarn.lock
Labels: security

#696 workflow: fix error code of coverage tool
  tools/coverage.sh
Labels: ci/cd

#695 doc: fix the rfcs name
  docs/rfcs/0001-framework-migration.md
Labels: docs

#697 core: remove temporary file after unit test
  packages/core/src/utils/public.test.ts
Labels: core

#693 costa: implement ipc for costa
  packages/costa/src/client/entry.test.ts
  packages/costa/src/client/entry.ts
  packages/costa/src/ipc-proxy.ts
  packages/costa/src/protocol.test.ts
  packages/costa/src/protocol.ts
  packages/costa/src/runnable.test.ts
  packages/costa/src/runnable.ts
  packages/costa/tests/plugins/nodejs-simple/index.js
  packages/costa/tests/plugins/python-simple/__init__.py
Labels: 2.0, costa

#694 build: make boa work with Node10 and NAPI3
  packages/boa/binding.gyp
  packages/boa/lib/worker.js
  packages/boa/src/core/object.cc
  packages/boa/src/core/object.h
  packages/boa/tests/base/async.js
  packages/boa/tools/check-dependence.js
Labels: boa, build

#700 readme: fix the developer build instructions
  README.md
Labels: docs

#704 esbuild: disable test for esbuild
  .github/workflows/esbuild.yml
Labels: build

#703 daemon: remove dependency request
  packages/daemon/package.json
  packages/daemon/src/__tests__/unit/utils/index.test.ts
  packages/daemon/src/utils/index.ts
  yarn.lock
Labels: daemon

#705 sdk: migrate to ava from jasmine
  packages/sdk/package.json
  packages/sdk/src/job.test.ts
  packages/sdk/src/pipeline.test.ts
  packages/sdk/src/plugin.test.ts
  packages/sdk/tests/job.test.ts
  packages/sdk/tests/pipeline.test.ts
  packages/sdk/tests/plugin.test.ts
  yarn.lock
Labels: sdk, tests

#706 cli: remove unused dependencies
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/tools/setup.sh
  yarn.lock
Labels: cli

#701 cli: remove board/dev-plugin
  packages/cli/src/actions/board.ts
  packages/cli/src/actions/dev-plugin.ts
  packages/cli/src/bin/pipcook.ts
Labels: cli

#707 clean root directory
  README.md
  docs/contributing/guide-to-contributor.md
  docs/images/community_qrcode.png
  docs/images/logo.png
  docs/zh-cn/contributing/guide-to-contributor.md
  package.json
  tools/run_pipeline.sh
Labels: docs

#708 boa: migrate tests to the ava framework
  packages/boa/package.json
  packages/boa/tests/base/async.js
  packages/boa/tests/base/basic.js
  packages/boa/tests/base/delegator-builtins-enumerate.js
  packages/boa/tests/base/delegator-builtins-generator.js
  packages/boa/tests/base/delegator-callee.js
  packages/boa/tests/base/eval.js
  packages/boa/tests/base/utils.js
  packages/boa/tests/es-module-loaders/common.js
  packages/boa/tests/es-module-loaders/js/test-esm-loader-thirdparty.mjs
  packages/boa/tests/numpy/constants.js
  packages/boa/tests/numpy/ndarray.js
  packages/boa/tests/numpy/routines.array.js
  packages/boa/tests/numpy/routines.financial.js
  packages/boa/tests/numpy/routines.linalg.js
  packages/boa/tests/numpy/routines.matrix.js
  packages/boa/tests/numpy/ufunc.js
  packages/boa/tests/stdlib/builtins.js
  packages/boa/tests/stdlib/colorsys.js
  packages/boa/tests/stdlib/crypto.js
  packages/boa/tests/stdlib/fs-access.js
  packages/boa/tests/stdlib/internet.js
  packages/boa/tests/stdlib/numeric.js
  packages/boa/tests/stdlib/os.js
  packages/boa/tests/stdlib/sys.js
  packages/boa/tests/stdlib/text.js
  packages/boa/tests/typescript/base.ts
  packages/boa/tests/typescript/eval.ts
  packages/boa/tests/typescript/kwargs.ts
  packages/boa/tests/typescript/with.ts
  packages/boa/tsconfig.json
Labels: boa, tests

#702 core: migrate jasmine to ava
  packages/core/package.json
  packages/core/src/constants/model.test.ts
  packages/core/src/constants/other.test.ts
  packages/core/src/constants/plugins.test.ts
  packages/core/src/index.ts
  packages/core/src/types/data/common.test.ts
  packages/core/src/utils/common.test.ts
  packages/core/src/utils/public.test.ts
  packages/core/src/utils/public.ts
  yarn.lock
Labels: 2.0, core, tests
