Repository alibaba/pipcook, pull requests merged in 2021-02, with the labels that each got.

#691 deamon, wasm: add tvm for 2.0
  .github/workflows/build.yml
  docs/manual/intro-to-pipeline.md
  docs/manual/pipcook-models.md
  docs/manual/pipcook-tools.md
  packages/boa/package.json
  packages/cli/src/actions/init.ts
  packages/cli/src/bin/pipcook.ts
  packages/cli/src/constants.ts
  packages/cli/src/service/lib.ts
  packages/daemon/.eslintignore
  packages/daemon/src/__tests__/unit/controller/lib.controller.test.ts
  packages/daemon/src/__tests__/unit/convertor/keras.test.ts
  packages/daemon/src/__tests__/unit/convertor/utils.test.ts
  packages/daemon/src/__tests__/unit/generator/nodejs.test.ts
  packages/daemon/src/__tests__/unit/generator/tvm.test.ts
  packages/daemon/src/__tests__/unit/service/job.service.test.ts
  packages/daemon/src/__tests__/unit/service/lib.service.test.ts
  packages/daemon/src/controllers/index.ts
  packages/daemon/src/controllers/lib.controller.ts
  packages/daemon/src/convertor/constant.ts
  packages/daemon/src/convertor/keras.ts
  packages/daemon/src/convertor/utils.ts
  packages/daemon/src/generator/nodejs.ts
  packages/daemon/src/generator/tvm.cli.ts
  packages/daemon/src/generator/tvm.ts
  packages/daemon/src/services/index.ts
  packages/daemon/src/services/job.service.ts
  packages/daemon/src/services/lib.service.ts
  packages/daemon/templates/wasm/browser.js
  packages/daemon/templates/wasm/node.js
  packages/sdk/src/index.ts
  packages/sdk/src/lib.ts
  test/sdk/job.ts
Labels: wasm

#698 costa: refactor unit test with ava
  packages/cli/src/service/job.ts
  packages/cli/src/service/pipeline.ts
  packages/cli/src/service/plugin.ts
  packages/cli/src/utils/common.ts
  packages/core/src/utils/public.ts
  packages/costa/package.json
  packages/costa/src/client/entry.test.ts
  packages/costa/src/client/entry.ts
  packages/costa/src/client/loaders/index.test.ts
  packages/costa/src/client/loaders/nodejs.test.ts
  packages/costa/src/client/loaders/python.test.ts
  packages/costa/src/client/utils.test.ts
  packages/costa/src/client/utils.ts
  packages/costa/src/index.test.ts
  packages/costa/src/index.ts
  packages/costa/src/ipc-proxy.ts
  packages/costa/src/ipc/ipc-proxy.test.ts
  packages/costa/src/ipc/ipc-proxy.ts
  packages/costa/src/ipc/parent.test.ts
  packages/costa/src/ipc/parent.ts
  packages/costa/src/lrucache.test.ts
  packages/costa/src/protocol.ts
  packages/costa/src/runnable.test.ts
  packages/costa/src/runnable.ts
  packages/costa/src/runtime.test.ts
  packages/costa/src/runtime.ts
  packages/costa/src/utils.test.ts
  packages/costa/src/utils.ts
  packages/costa/tests/plugins/package-lock.json
  packages/daemon/src/__tests__/unit/job-runner/job-runner.test.ts
  packages/daemon/src/controllers/interface.ts
  packages/daemon/src/index.ts
  packages/daemon/src/job-runner/index.ts
  packages/sdk/src/pipeline.ts
  yarn.lock
Labels: 2.0, costa, tests

#712 fix copyFile block with option COPYFILE_FICLONE
  packages/daemon/src/utils.ts
  packages/daemon/test/runner/helper.test.ts
Labels: daemon

#713 fix: serialize copyFile
  packages/daemon/src/utils.ts
Labels: daemon

#715 workflow: fix build workflow action
  .github/workflows/build.yml
Labels: ci/cd
